<div class='row'>
  <div class='col-12 col-lg-12 mb-4'>
    <div class='card' id='BlockAttributes'></div>
  </div>
</div>
<script>
    class BlockAttributes extends BootstrapVerticalTableComponent {
        configuration() {
            return {
                topElement: function (response) {
                    return [...response.EVM?.Blocks, ...response.EVM?.MinerRewards]
                },
                chainId: function (response) {
                    return response.EVM?.Blocks[0].ChainId
                },
                columns: [
                    {
                        name: 'Timestamp', cell: function (row) {
                            return row.Block?.Time
                        }, rendering: renderDate,
                    },
                    {
                        name: 'Miner', cell: function (row) {
                            return row.Block?.Coinbase
                        }, rendering: renderAddressLink,
                    },
                    {
                        name: 'Block Reward', cell: function (row) {
                            return row.sum
                        },rendering: renderNumbersWithCurrency, cellStyle: {display:'flex',justifyContent: 'start'},
                    },
                    {
                        name: 'Transactions count', cell: function (row) {
                            return row.Block?.TxCount
                        },
                    },
                    {
                        name: 'Difficulty', cell: function (row) {
                            return row.Block?.Difficulty
                        },
                    },
                    {
                        name: 'Gas used', cell: function (row) {
                            return row.Block?.GasUsed
                        },
                    },
                    {
                        name: 'Tx count', cell: function (row) {
                            return row.Block?.TxCount
                        },
                    },
                    {
                        name: 'Hash', cell: function (row) {
                            return row.Block?.Hash
                        },
                    },
                    {
                        name: 'Parent Hash', cell: function (row) {
                            return row.Block?.ParentHash
                        },
                    },
                ]
            }
        }
    }

    const variables = {
        network: '<%= @streaming%>',
        height: '<%= @height%>',
    }

    renderComponent(BlockAttributes, '#BlockAttributes', 'Block-Attributes_2', variables);
</script>
