<div class='row'>
  <div class='col-12 col-lg-12 mb-4'>
    <div class='card' id='Transfers'></div>
  </div>
</div>
<script>
    class Transfers extends BootstrapTableComponent {
        configuration() {
            return {
                topElement: function (response) {
                    return response.EVM.Transfers
                },
                chainId: function (response) {
                    return response.EVM.Transfers[0].ChainId
                },
                columns: [

                    {
                        name: 'Sender', cell: function (row) {
                            return row.Transfer.Sender
                        }, rendering: renderAddressLink, headerStyle: {width: '30%'},
                    },
                    {
                        name: '', cell: function (row) {
                            return ''
                        }, rendering: renderSenderRecieverIcon, headerStyle: {width: '50px'},
                    },
                    {
                        name: 'Receiver', cell: function (row) {
                            return row.Transfer.Receiver
                        }, rendering: renderAddressLink, headerStyle: {width: '30%'},
                    },
                    {
                        name: 'Amount', cell: function (row) {
                            return row.Transfer.Amount
                        }, rendering: renderNumbers, headerStyle: {textAlign: 'end'},
                    },
                    {
                        name: 'Currency', cell: function (row) {
                            return {
                                currency: row.Transfer.Currency.Symbol,
                                smartContract: row.Transfer.Currency.SmartContract
                            }
                        }, rendering: renderTokenLink,
                    },
                    {
                        name: 'Id', cell: function (row) {
                            return {id: row.Transfer.Id, address: row.Transfer.Currency.SmartContract}
                        }, rendering: renderIdLink
                    },
                    {
                        name: 'Hash', cell: function (row) {
                            return row.Transaction.Hash
                        }, rendering: renderTX,
                    },
                ]
            }
        }
    }

    const variables = {
        network: '<%= @streaming%>',
        height: '<%= @height%>',
    }
    renderComponent([[Transfers, '#Transfers']], 'Transfers_2', variables);
</script>
