<div class='row'>
  <div class='col-12 col-lg-12 mb-4'>
    <div class='card' id='Transactions'></div>
  </div>
</div>
<script>
    class Transactions extends BootstrapTableComponent {
        configuration() {
            return {
                topElement: function (response) {
                    return response.EVM.Transactions
                },
                chainId: function (response) {
                    return response.EVM.Transactions[0].ChainId
                },
                columns: [
                    {
                        name: 'Index in Block', cell: function (row) {
                            return row.Transaction.Index
                        },
                    },
                    {
                        name: 'Sender', cell: function (row) {
                            return row.Transaction.From
                        }, rendering: renderJustAddressLink,  headerStyle: {width: '30%'},
                    },
                    {
                        name: 'Hash', cell: function (row) {
                            return row.Transaction.Hash
                        }, rendering: renderTX, headerStyle: {width: '30%'},
                    },
                    {
                        name: 'Value', cell: function (row) {
                            return row.Transaction.Value
                        }, rendering: renderNumbersWithCurrency, headerStyle: {textAlign: 'end'},
                    },                    {
                        name: 'Sender fee', cell: function (row) {
                            return row.Fee.SenderFee
                        }, rendering: renderNumbersWithCurrency, headerStyle: {textAlign: 'end'},
                    },
                ]
            }
        }
    }

    const variables = {
        network: '<%= @streaming%>',
        height: '<%= @height%>',
    }
    renderComponent('<%=@streaming_access_token %>',[[Transactions, '#Transactions']], 'Transactions_5', variables);
</script>
