<div class="col-12 col-lg-6 mb-4">
  <div class="card">
    <div class="card-header"><%= t('widgets.headers.calls_by_time') %></div>
    <div class="card-body">
      <div id="calls_by_time"><%= t('loading') %></div>
    </div>
  </div>
</div>

<script>

    $( document ).ready(function() {

        var query = new widgets.query(`
                        query ($network: EthereumNetwork!,
                        $dateFormat: String!,
                        $address: String!,
                        $from: ISO8601DateTime,
                        $till: ISO8601DateTime){
                    ethereum(network: $network ){
                      transfers(options:{asc: "date.date", desc: "(in_count+out_count)"}, date: {
                        since: $from
                        till: $till}) {
                        date: date{
                          date(format: $dateFormat)
                        }
                        currency {
                          symbol
                          name
                          tokenType
                        }
                        in_count: count(receiver: {is: $address})
                        out_count: count(sender: {is: $address})
                      }
                    }
                  }`);



    });

</script>