<%= render partial: 'ethereum/render_callbacks' %>

<%= render partial: "ethereum/address/calls_table" %>


<div class="row">
  <%= render partial: "ethereum/address/smart_contracts_table" %>
  <%= render partial: "ethereum/address/smart_contract_methods_table" %>
</div>