<%= render partial: 'ethereum/render_callbacks' %>

<%= render partial: "ethereum/address/inbound_transfers" %>

<div class="row">
  <%= render partial: "ethereum/address/inbound_eth_by_time" %>
  <%= render partial: "ethereum/address/inbound_tokens_by_time" %>
</div>