<div class="row justify-content-center align-items-center" style="height: 50vh;">
  <div class="col-12 col-md-8 col-lg-6 text-center">
    <div class="card ">
      <div class="card-body py-5">
        <h2 class="text-danger mb-3">Address Not Found</h2>
        <p class="mb-4">We couldn't find any data for the specified address.</p>
        <a href="/" class="btn bg-custom-purple">Return to Home</a>
      </div>
    </div>
  </div>
</div>