<script>
    var from = '2018-12-01T00:00';

    widgets.init('http://bloxyapi1-1.ph16.leadsale.com:3011/graphql', 'apikey', {locale: '<%= I18n.locale %>'});

    var  query = new widgets.query(`query($chain: Chain!, $count: Int!, $offset: Int!, $address: String!, $from: ISO8601DateTime!){
      address(chain: $chain, string: $address){
        transfersByCurrencies(timeRange:{from: $from}, limits: {count: $count, offset: $offset}){
            currency{
              symbol
              address
              tokenType
              currencyId
            }
            inboundTx
            inboundAmount
           outboundTx
           outboundAmount
        }
        transfersByTime(timeRange:{from: $from}){
           inboundTransfers
           outboundTransfers
           timestamp
        }
      }

    }`);
</script>
<div class="row">
  <div class="col mb-4">
    <div class="card">
      <div class="card-header">Address</div>
      <div class="card-body text-dark">
        <div id="transfers_timegraph">Loading...</div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 mb-4">
    <div class="card">
      <div class="card-header">Address</div>
      <div class="card-body text-dark">
        <div id="transfers_by_currencies">Loading...</div>
      </div>
    </div>
  </div>
</div>

<script>
    function token_address(name, address, locale){
        return 'https://bloxy.info/'+locale+(address == '-' ? '/tokens/'+name : '/address/'+address);
    }
    function transfer_to_address(currency_id, address, locale){
        return 'https://bloxy.info/'+locale+'/txs/transfers_to/'+address+'?currency_id='+currency_id;
    }
    function transfer_from_address(currency_id, address, locale){
        return 'https://bloxy.info/'+locale+'/txs/transfers_from/'+address+'?currency_id='+currency_id;
    }
    var tbt = new widgets.transfers_by_time('#transfers_timegraph', query, 'address.transfersByTime');
    var tbc = new widgets.transfers_by_currencies('#transfers_by_currencies', query, 'address.transfersByCurrencies');

    query.request({address: '<%= @address %>', chain: '<%= params['network']['tag'] %>', from: from, count: 10});
</script>