<%= render partial: 'binance/token/orders_table' %>

<div class="row">
  <%= render partial: 'binance/token/orders_by_time' %>
  <%= render partial: 'binance/token/orders_currencies' %>
</div>

<div class="row">
  <%= render partial: 'binance/token/orders_makers' %>
</div>

