<div class="row">
  <%= render partial: 'arbitrum/smart_contract/traded_currencies_by_time' %>
  <%= render partial: 'arbitrum/smart_contract/traded_currencies_table' %>
</div>

<%= render partial: 'arbitrum/smart_contract/traded_pairs_table' %>