<div class='row'>
  <div class='col-12 col-lg-12 mb-4'>
    <div class='card' id='EventsDistribution'></div>
  </div>
</div>
<div class='row'>
  <div class='col-12 col-lg-12 mb-4'>
    <div class='card' id='SmartContractEvents'></div>
  </div>
</div>
<script>
    class EventsDistribution extends BarChartComponent {
        configuration() {
            return {
                topElement: function (response) {
                    return response.EVM.Events
                },
                chainId: function (response) {
                    return response.EVM.Events[0]?.ChainId
                },
                columns: [
                    {
                        name: 'Event', cell: function (row) {
                            return row.Log.Signature.Name
                        }
                    },
                    {
                        name: 'Event Count', cell: function (row) {
                            return +row.count
                        }
                    },
                ],
                options: {
                    theme: 'material'
                }
            }
        }
    }

    class SmartContractEvents extends BootstrapTableComponent {
        configuration() {
            return {
                topElement: function (response) {
                    return response.EVM.Events
                },
                chainId: function (response) {
                    return response.EVM.Events[0]?.ChainId
                },
                columns: [
                    {
                        name: 'Event', cell: function (row) {
                            return {event: row.Log.Signature.Name, hash: row.Log.Signature.SignatureHash}
                        }, rendering: renderEventLink
                    },
                    {
                        name: 'Event signature', cell: function (row) {
                            return row.Log.Signature.Signature
                        },
                    },
                    {
                        name: 'Latest Date', cell: function (row) {
                            return row.Block.Date
                        },
                    },
                    {
                        name: 'Event Count', cell: function (row) {
                            return row.count
                        }, rendering: renderNumbers,
                    },
                ]
            }
        }
    }

    const variables = {
        network: '<%= @streaming%>',
        address: '<%= @address %>',
    };
    renderComponent(EventsDistribution, '#EventsDistribution', 'Events-Distribution', variables);
    renderComponent(SmartContractEvents, '#SmartContractEvents', 'Smart-Contract-Events_1', variables);
</script>
