<div class='row'>
  <div class='col-12 col-lg-12 mb-4'>
    <div class='card' id='SmartContractMethods'></div>
  </div>
</div>
<div class='row'>
  <div class='col-12 col-lg-12 mb-4'>
    <div class='card' id='AddressesUsedInMethodParameters'></div>
  </div>
</div>
<script>
    class SmartContractMethods extends BootstrapTableComponent {
        configuration() {
            return {
                topElement: function (response) {
                    return response.EVM.Calls
                },
                chainId: function (response) {
                    return response.EVM.Calls[0].ChainId
                },
                columns: [
                    {
                        name: 'Method', cell: function (row) {
                            return {method: row.Call.Signature.Name, hash: row.Call.Signature.SignatureHash}
                        }, rendering: renderMethodLink,
                    },
                    {
                        name: 'Method signature', cell: function (row) {
                            return row.Call.Signature.Signature
                        },  headerStyle: {width: '25%'},
                    },
                    {
                        name: 'Gas Cost/Call', cell: function (row) {
                            return row.average
                        }, rendering: renderNumbers, headerStyle: {textAlign: 'end'},
                    },
                    {
                        name: 'Latest Date', cell: function (row) {
                            return row.Block.Date
                        },
                    },
                    {
                        name: 'TX Sender', cell: function (row) {
                            return row.txs
                        }, rendering: renderNumbers, headerStyle: {textAlign: 'end'},
                    },
                    {
                        name: 'Internal calls', cell: function (row) {
                            return row.internal_count
                        }, rendering: renderNumbers, headerStyle: {textAlign: 'end'},
                    },
                    {
                        name: 'External calls', cell: function (row) {
                            return row.external_count
                        }, rendering: renderNumbers, headerStyle: {textAlign: 'end'},
                    },
                    {
                        name: 'Calls Count', cell: function (row) {
                            return row.count
                        }, rendering: renderNumbers, headerStyle: {textAlign: 'end'},
                    },
                ]
            }
        }
    }

    class AddressesUsedInMethodParameters extends BootstrapTableComponent {
        configuration() {
            return {
                topElement: function (response) {
                    return response.EVM.Calls
                },
                chainId: function (response) {
                    return response.EVM.Calls[0]?.ChainId
                },
                columns: [
                    {
                        name: 'Address', cell: function (row) {
                            return row.Call.From
                        }, rendering: renderAddressLink, headerStyle: {width: '44%'},
                    },
                    {
                        name: 'Argument', cell: function (row) {
                            return row.Arguments[0].Name
                        },
                    },
                    {
                        name: 'Method', cell: function (row) {
                            return {method: row.Call.Signature.Name, hash: row.Call.Signature.SignatureHash}
                        }, rendering: renderMethodLink,
                    },
                    {
                        name: 'Calls Count', cell: function (row) {
                            return row.count
                        }, rendering: renderNumbers, headerStyle: {textAlign: 'end'},
                    },
                ]
            }
        }
    }

    const variables = {
        network: '<%= @streaming%>',
        token: '<%= @address %>',
    }
    renderWithTime(variables, <%= limited_date_range_limit(@from, @till).join(',').html_safe %>, function f(variables) {
        renderComponent(SmartContractMethods, '#SmartContractMethods', 'Smart-Contract-Methods_1', variables);
        renderComponent(AddressesUsedInMethodParameters, '#AddressesUsedInMethodParameters', 'Addresses-used-in-Method-Parameters', variables);
    })
</script>
