<div class="row">
  <%= render partial: 'algorand/smart_contract/contract_source' %>
</div>

<div class="row">
  <%= render partial: 'algorand/address/in_out_transfers_by_time' %>
  <%= render partial: 'algorand/address/currencies_table' %>
</div>
