<%= render 'everscale/network/transactions/latest_transactions' %>

<%= render 'everscale/network/transactions/transactions_by_time' %>

<div class="row">
  <%= render partial: 'everscale/network/transactions/transactions_by_types' %>
</div>
