<%= render 'everscale/network/transfers/latest_transfers' %>

<div class="row">
  <%= render 'everscale/network/transfers/transfers_by_time' %>
  <%= render 'everscale/network/transfers/transfers_by_currencies' %>
</div>
