<%= render 'hedera/network/transactions/transactions_table' %>

<div class="row">
  <%= render 'hedera/network/transactions/transactions_by_time' %>
  <%= render 'hedera/network/transactions/avg_transactions_fees_by_date' %>
</div>

<%= render 'hedera/network/transactions/transactions_by_type' %>

