<script>
    var query = new widgets.query(`
    query(<%= "$network: Network!, " if params[:network] && !params[:network].empty? %>$query: String!){
      search(<%= "network: $network, " if params[:network] && !params[:network].empty? %>string: $query){
          subject{
            __typename
            ... on Address {
              address
              annotation
            }
            ... on Currency {
              symbol
              name
            }
          }
          network{
            network
            protocol
          }
        }
      }
    `);
</script>
<div class="row">
  <div class="col mb-4">
    <div class="card">
      <div class="card-header">Search</div>
      <div class="card-body text-dark">
        <div id="search">Loading...</div>
      </div>
    </div>
  </div>
</div>
<script>
    widgets.callbacks({
        search_address_address: function(network, address, locale){
            return "/"+locale+"/"+network+"/address/"+address;
        },
        search_currency_address: function(name, address, locale){
            return "/"+locale+(address == '-' ? '/token/'+name : '/address/'+address);
        }
    });
    var sch = new widgets.search('#search', query, 'search');
    query.request({<%= "network: '#{params[:network]}', ".html_safe if params[:network] && !params[:network].empty? %>query: '<%= @query %>', count: 10});
</script>