<div class="row">
  <%= render partial: 'stellar/network/tokens/traded_currencies_by_time' %>
</div>

<%= render partial: 'stellar/network/tokens/transfers_by_currencies' %>

<%= render partial: 'stellar/network/tokens/traded_pairs_table' %>
