
<%= render partial: "eos/address/calls_table" %>

<div class="row">
  <%= render partial: 'eos/address/calls_by_time' %>
  <%= render partial: "eos/address/smart_contracts_table" %>
</div>

<div class="row">
  <%= render partial: "eos/address/smart_contract_methods_called_table" %>
</div>

