
<%#= render partial: 'eos/address/balance' %>

<div class="row">
  <%= render partial: 'eos/address/in_out_transfers_by_time' %>
  <%= render partial: 'eos/address/calls/calls_by_time' %>
</div>


<div class="row">
  <%= render partial: 'eos/address/currencies_table' %>
  <%= render partial: 'eos/address/calls/calls_smart_contracts_table' %>
</div>