/* line 2, app/assets/stylesheets/daterangepicker_dark.scss */
body.dark #reportrange {
  background: #434e57;
  border: 1px solid #758591;
}

/* line 7, app/assets/stylesheets/daterangepicker_dark.scss */
body.dark .daterangepicker {
  background-color: #57626b;
  border: 1px solid #758591;
}

/* line 12, app/assets/stylesheets/daterangepicker_dark.scss */
body.dark .daterangepicker:before, body.dark .daterangepicker:after {
  border-bottom-color: rgba(0, 0, 0, 0.2);
}

/* line 16, app/assets/stylesheets/daterangepicker_dark.scss */
body.dark .daterangepicker:before {
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #ccc;
}

/* line 22, app/assets/stylesheets/daterangepicker_dark.scss */
body.dark .daterangepicker:after {
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  border-left: 6px solid transparent;
}

/* line 28, app/assets/stylesheets/daterangepicker_dark.scss */
body.dark .daterangepicker.drop-up:before {
  border-top: 7px solid #ccc;
}

/* line 32, app/assets/stylesheets/daterangepicker_dark.scss */
body.dark .daterangepicker.drop-up:after {
  border-top: 6px solid #fff;
}

/* line 36, app/assets/stylesheets/daterangepicker_dark.scss */
body.dark .daterangepicker .calendar-table .next span, body.dark .daterangepicker .calendar-table .prev span {
  color: #fff;
  border: solid white;
  border-width: 0 2px 2px 0;
}

/* line 42, app/assets/stylesheets/daterangepicker_dark.scss */
body.dark .daterangepicker .calendar-table {
  border: 1px solid #57626b;
  background-color: #57626b;
}

/* line 47, app/assets/stylesheets/daterangepicker_dark.scss */
body.dark .daterangepicker td.available:hover, body.dark .daterangepicker th.available:hover {
  background-color: #758591;
  border-color: transparent;
  color: inherit;
}

/* line 53, app/assets/stylesheets/daterangepicker_dark.scss */
body.dark .daterangepicker td.week, body.dark .daterangepicker th.week {
  color: #ccc;
}

/* line 57, app/assets/stylesheets/daterangepicker_dark.scss */
body.dark .daterangepicker td.off, body.dark .daterangepicker td.off.in-range, body.dark .daterangepicker td.off.start-date, body.dark .daterangepicker td.off.end-date {
  background-color: #57626b;
  border-color: transparent;
  color: #999;
}

/* line 63, app/assets/stylesheets/daterangepicker_dark.scss */
body.dark .daterangepicker td.in-range {
  background-color: #343a40;
  border-color: transparent;
  color: #fff;
}

/* line 69, app/assets/stylesheets/daterangepicker_dark.scss */
body.dark .daterangepicker td.active, body.dark .daterangepicker td.active:hover {
  background-color: #357ebd;
  border-color: transparent;
  color: #fff;
}

/* line 75, app/assets/stylesheets/daterangepicker_dark.scss */
body.dark .daterangepicker td.disabled, body.dark .daterangepicker option.disabled {
  color: #999;
}

/* line 79, app/assets/stylesheets/daterangepicker_dark.scss */
body.dark .daterangepicker select.hourselect, body.dark .daterangepicker select.minuteselect, body.dark .daterangepicker select.secondselect, body.dark .daterangepicker select.ampmselect {
  background: #eee;
  border: 1px solid #eee;
}

/* line 84, app/assets/stylesheets/daterangepicker_dark.scss */
body.dark .daterangepicker .calendar-time select.disabled {
  color: #ccc;
}

/* line 88, app/assets/stylesheets/daterangepicker_dark.scss */
body.dark .daterangepicker .drp-buttons {
  border-top: 1px solid #758591;
}

/* line 92, app/assets/stylesheets/daterangepicker_dark.scss */
body.dark .daterangepicker.show-ranges.single.rtl .drp-calendar.left {
  border-right: 1px solid #758591;
}

/* line 96, app/assets/stylesheets/daterangepicker_dark.scss */
body.dark .daterangepicker.show-ranges.single.ltr .drp-calendar.left {
  border-left: 1px solid #758591;
}

/* line 100, app/assets/stylesheets/daterangepicker_dark.scss */
body.dark .daterangepicker.show-ranges.rtl .drp-calendar.right {
  border-right: 1px solid #758591;
}

/* line 104, app/assets/stylesheets/daterangepicker_dark.scss */
body.dark .daterangepicker.show-ranges.ltr .drp-calendar.left {
  border-left: 1px solid #758591;
}

/* line 108, app/assets/stylesheets/daterangepicker_dark.scss */
body.dark .daterangepicker .ranges li:hover {
  background-color: #758591;
}

/* line 112, app/assets/stylesheets/daterangepicker_dark.scss */
body.dark .daterangepicker .ranges li.active {
  background-color: #08c;
  color: #fff;
}

/* line 118, app/assets/stylesheets/daterangepicker_dark.scss */
body.dark .breadcrumb-item.active {
  color: inherit;
}

/* line 121, app/assets/stylesheets/daterangepicker_dark.scss */
body.dark .breadcrumb-item:before {
  color: inherit;
}
