<div class="row">
  <%= render partial: 'ethereum/network/dex/traded_currencies_by_time' %>
  <%= render partial: 'ethereum/network/dex/traded_currencies_table' %>
</div>

<%= render partial: 'ethereum/network/dex/traded_pairs_table' %>