
  <div  id="Top-transfered-NFT"></div>
  <div  id="Top-traded-NFT-tokens"></div>



<script >

 class TopTransferedNFT extends BootstrapTableComponent {
      configuration() {
        return  {
            topElement: function (response){ return response.EVM.Transfers},
            columns: [
              {
                name: 'NFT', cell: function(row){ return {currency: row.Transfer.Currency.Symbol, smartContract: row.Transfer.Currency.SmartContract}}, rendering: renderTokenLink,
              },
              {
                name: 'Transfers', cell: function(row){ return row.count}, 
              },
              {
                name: 'Unique Senders', cell: function(row){ return row.senders}, rendering: renderAddressLink, 
              },
              {
                name: 'Unique Receivers', cell: function(row){ return row.receivers}, rendering: renderAddressLink, 
              },
            ]
          }
      }
  }

 class TopTradedNFTTokens extends BootstrapTableComponent {
      configuration() {
        return  {
            topElement: function (response){ return response.EVM.DEXTrades},
            columns: [
              {
                name: 'NFT', cell: function(row){ return {currency: row.Trade.Buy.Currency.Symbol, smartContract: row.Trade.Buy.Currency.SmartContract}}, rendering: renderTokenLink,
              },
              {
                name: 'Trades', cell: function(row){ return row.count}, 
              },
              {
                name: 'Paid Amount', cell: function(row){ return row.sell_amount}, 
              },
              {
                name: 'Currency', cell: function(row){ return {currency: row.Sell.Currency.Symbol, smartContract: row.Sell.Currency.SmartContract}}, rendering: renderTokenLink, 
              },
              {
                name: 'Min Price', cell: function(row){ return row.Trade.Buy.min_price}, 
              },
              {
                name: 'Max Price', cell: function(row){ return row.Trade.Buy.max_price}, 
              },
            ]
          }
      }
  }


const variables = {
  network: "eth",
  limit: 10,
  offset: 0,
  from: "2023-05-02",
  till: "2023-05-09"
}

  renderComponent(TopTransferedNFT, "#Top-transfered-NFT",'Top-transfered-NFT-tokens-in-network',variables);
  renderComponent(TopTradedNFTTokens, "#Top-traded-NFT-tokens",'Top-traded-NFT-tokens-in-network',variables);




// !!DO NOT DELETE THIS COMMENT!!


///Sub-15-Laset-Eth-NFT-tansfers-Sender-Receiver-TX
//15-Laset-Eth-NFT-tansfers-Sender-Receiver-TX

//  class LatestNFTTransfersTable extends BootstrapCardComponentTwoColumns {
//       configuration() {
//         return  {
//           topElement: function (response){ return response.EVM.Transfers},
//           dropdown:[
//             {
//               cell: function(row){ return row.Transfer.URI}, rendering: renderDropdown,
//             },
//           ],
//           image: [
//             {
//              cell: function(row){ return row.Transfer.URI}, rendering: renderImgFromURI,
//             }
//               ] , 
//             columnOne: [
//               {
//                name: 'Date', cell: function(row){ return row.Block.Time},rendering: renderDate,
//               },
//               {
//                name: "Sender", cell: function(row){ return row.Transfer.Sender}, rendering: renderAddressLink,
//               },
//               {
//                name: 'Token ID', cell: function(row){ return row.Transfer.Id}, 
//               },

//             ],
//             columnTwo: [
//               {
//                name: 'Transaction hash', cell: function(row){ return row.Transaction.Hash}, rendering: renderTX,
//               },
//                 {
//                 name: 'Receiver',  cell: function(row){ return row.Transfer.Receiver}, rendering: renderAddressLink,
//                 },
//               {
//                name: 'Symbol', cell: function(row){ return {currency: row.Transfer.Currency.Symbol, smartContract: row.Transfer.Currency.SmartContract}}, rendering: renderTokenLink,
//               },
//             ]
//           }
//       }
// }
</script>
