
<div class="row">
  <div class="col-12 col-lg-12 mb-4">
    <div class="card" id="latest-nft-transfers-table"></div>
  </div>
</div>


<script >


 class LatestNFTTransfersTable extends BootstrapTableComponent {

      configuration() {
        return  {
            topElement: function (response){ return response.EVM.Transfers},
            columns: [
              {
                name: 'Time', cell: function(row){ return row.Block.Time}, type:'date',
              },
              {
                name: 'Currency', cell: function(row){ return row.Transfer.Currency.Symbol},
              },
              {
                name: 'ID', cell: function(row){ return row.Transfer.Id},
              },
              {
                name: 'URI', cell: function(row){ return row.Transfer.URI}, type :'link'
              },
              // {
              //   name: 'Img', cell: function(row){ return row.Transfer.URI}, img: createImg(function(row){ return row.Transfer.URI})
              // },
    
            ]
          }
      }
  }

  renderComponent(LatestNFTTransfersTable, "#latest-nft-transfers-table", "Laset-Eth-NFT-tansfers");

// Sub-test-new-table
// Sub-test-new-table_1
// Sub-Laset-Eth-NFT-tansfers


</script>
