
  <div  id="latest-nft-transfers-table"></div>



<script >

// !!DO NOT DELETE THIS COMMENT!!
 class LatestNFTTransfersTable extends BootstrapTableComponent {

      configuration() {
        return  {
            topElement: function (response){ return response.EVM.Transfers},
            columns: [
              {
                name: 'NFT', cell: function(row){ return {currency: row.Transfer.Currency.Symbol, smartContract: row.Transfer.Currency.SmartContract}}, rendering: renderTokenLink,
              },
              {
                name: 'Transfers', cell: function(row){ return row.count}, 
              },
              {
                name: 'Unique Senders', cell: function(row){ return row.senders}, rendering: renderAddressLink, 
              },
              {
                name: 'Unique Receivers', cell: function(row){ return row.receivers}, rendering: renderAddressLink, 
              },
            ]
          }
      }
  }

//  class LatestNFTTransfersTable extends BootstrapCardComponentTwoColumns {

//       configuration() {
//         return  {
//           topElement: function (response){ return response.EVM.Transfers},
//           dropdown:[
//             {
//               cell: function(row){ return row.Transfer.URI}, rendering: renderDropdown,
//             },
//           ],
//           image: [
//             {
//              cell: function(row){ return row.Transfer.URI}, rendering: renderImgFromURI,
//             }
//               ] , 
//             columnOne: [
//               {
//                name: 'Date', cell: function(row){ return row.Block.Time},rendering: renderDate,
//               },
//               {
//                name: "Sender", cell: function(row){ return row.Transfer.Sender}, rendering: renderAddressLink,
//               },
//               {
//                name: 'Token ID', cell: function(row){ return row.Transfer.Id}, ico: "id",
//               },

//             ],
//             columnTwo: [
//               {
//                name: 'Transaction hash', cell: function(row){ return row.Transaction.Hash}, rendering: renderTX,
//               },
//                 {
//                 name: 'Receiver',  cell: function(row){ return row.Transfer.Receiver}, rendering: renderAddressLink,
//                 },
//               {
//                name: 'Symbol', cell: function(row){ return {currency: row.Transfer.Currency.Symbol, smartContract: row.Transfer.Currency.SmartContract}}, rendering: renderTokenLink,
//               },
//             ]
//           }
//       }
// }
const variables = {
  network: "eth",
  limit: 10,
  offset: 0,
  from: "2023-05-02",
  till: "2023-05-09"
}
//  token: "0xbc4ca0eda7647a8ab7c2061c2e118a18a936f13d",
//  token: "0x39ee2c7b3cb80254225884ca001F57118C8f21B6"
  renderComponent(LatestNFTTransfersTable, "#latest-nft-transfers-table",'Top-transfered-NFT-tokens-in-network',variables);

///Sub-15-Laset-Eth-NFT-tansfers-Sender-Receiver-TX
//15-Laset-Eth-NFT-tansfers-Sender-Receiver-TX


</script>
