
<%# <div class="row"> %>
  <%# <div class="col-12 col-lg-12 mb-4"> %>
    <div  id="latest-nft-transfers-table"></div>
  <%# class="card" %>
  <%# </div> %>
<%# </div> %>



<script >

// !!DO NOT DELETE THIS COMMENT!!
//  class LatestNFTTransfersTable extends BootstrapCardComponent {

//       configuration() {
//         return  {
//             topElement: function (response){ return response.EVM.Transfers},
//             columns: [
//               {
//                 cell: function(row){ return row.Transfer.URI}, render: renderImgFromURI,
//               },
//               {
//                 name: 'Time', cell: function(row){ return row.Block.Time},rendering: renderDate,
//               },
//               {
//                 name: 'Currency', cell: function(row){ return {currency: row.Transfer.Currency.Symbol, smartContract: row.Transfer.Currency.SmartContract}}, rendering: renderTokenLink,
//               },
//               {
//                 name: 'ID', cell: function(row){ return row.Transfer.Id},
//               },
//               {
//                 name: 'Sender', cell: function(row){ return row.Transfer.Sender}, rendering: renderAddressLink, ico: "sender",
//               },
//               {
//                 name: function(row){ return row.Transfer.Sender}, cell: function(row){ return row.Transfer.Receiver}, rendering: renderAddressLink, ico: "receiver",
//               },
//             ]
//           }
//       }
//   }

 class LatestNFTTransfersTable extends BootstrapCardComponentTwoColumns {

      configuration() {
        return  {
          topElement: function (response){ return response.EVM.Transfers},
          image: [
            {
              cell: function(row){ return row.Transfer.URI}, rendering: renderImgFromURI,
            }
              ] , 
            column1: [
              {
                cell: function(row){ return row.Block.Time},rendering: renderDate,
              },
              {
                cell: function(row){ return row.Transfer.Sender}, rendering: renderAddressLink, ico: "sender",
              },
              {
                cell: function(row){ return row.Transfer.Id}, ico: "id",
              },
                {
                  cell: function(row){ return row.Transfer.URI}, rendering: renderAccordion,
                },
            ],
            column2: [
              {
                cell: function(row){ return {currency: row.Transfer.Currency.Symbol, smartContract: row.Transfer.Currency.SmartContract}}, rendering: renderTokenLink,
              },
                {
                  cell: function(row){ return row.Transaction.Hash}, rendering: renderTX, ico: "hash",
                },
                  {
                    cell: function(row){ return row.Transfer.Receiver}, rendering: renderAddressLink, ico: "receiver",
                  },
            ]
          }
      }
}

  renderComponent(LatestNFTTransfersTable, "#latest-nft-transfers-table", "15-Laset-Eth-NFT-tansfers-Sender-Receiver-TX");


//15-Laset-Eth-NFT-tansfers-Sender-Receiver-TX
//15-Laset-Eth-NFT-tansfers-Sender-Receiver_1
///15-Laset-Eth-NFT-tansfers-Sender-Receiver
//15-Sub-Last-Eth-NFT-tansfers-Sender-Receiver
// Sub-test-new-table
// Sub-test-new-table_1
// Sub-Laset-Eth-NFT-tansfers





	// 'data:application/json;base64,eyJuYW1lIjogIk5vdW4gNDAxIDE5NCIsICJkZXNjcmlwdGlvbiI6ICJGb3JnZXJpZXMgLSBBTEwgYXJlIEZBS0UgZXhjZXB0IE9ORS5cblxuV2UndmUgbWl4ZWQgTm91biBpbnRvIGFuIG9wZW4gZWRpdGlvbiBvZiBleGFjdCBmb3JnZXJpZXMuIFNjYW4geW91cnMgYXQgKipmb3JnZXJpZXMud3RmKiogb25jZSB0aGUgZHJvcCBpcyBjb21wbGV0ZS4gT25lIG9mIHlvdSB3aWxsIHdpdGhkcmF3IHRoZSBOb3VuIGZyb20gZXNjcm93ISBDaGFpbmxpbmsgVlJGIGtlZXBzIGl0IGZhaXIsIHRyYW5zcGFyZW50IGFuZCB2ZXJpZmlhYmx5IHJhbmRvbS5cblxuQWlyZHJvcCB0byBPRyBtaW50ZXJzIGlzIHVuZGVyIHdheSEiLCAiaW1hZ2UiOiAiaXBmczovL2JhZnliZWloMmE2ZHRleGlueGJyeDRrb3diYmh0NWwycmx6aHZ2NGVuemV1cm9teHF1N3htdnJrZ2l5IiwgInByb3BlcnRpZXMiOiB7Im51bWJlciI6IDE5NCwgIm5hbWUiOiAiTm91biA0MDEifX0='

//'https://tokens.killabears.com/killabits/meta/188/1064'
//'https://trainer-metadata.pixelmon.ai/metadata/5714'

</script>
