<%= render partial: 'algorand/token/transfers/transfers' %>

<div class="row">
  <%= render partial: 'algorand/token/transfers/transfers_by_time' %>
  <%= render partial: 'algorand/token/transfers/max_transfers_by_time' %>
</div>