
<%= render partial: 'ethereum/address/balance' %>
<div class="row">
  <%= render partial: 'ethereum/smart_contract/smart_contract_attributes' %>
  <%= render partial: 'ethereum/smart_contract/smart_contract_statistics' %>
</div>

<%= render partial: 'ethereum/smart_contract/smart_contract_calls_by_time' %>