<%= render partial: 'ethereum/smart_contract/transactions' %>

<div class="row">
  <%= render partial: 'ethereum/smart_contract/top_callers' %>
  <%= render partial: 'ethereum/smart_contract/top_gas_burners' %>
</div>