<div class='row'>
  <div class='col-12 col-lg-12 mb-4'>
    <div class='card' id='TransactionAttributes'></div>
  </div>
</div>
<script type="module">
    class TransactionAttributes extends BootstrapTableComponent {
        configuration() {
            return {
                topElement: response => response.EVM.Calls,
                chainId: response => response.EVM.Calls[0]?.ChainId,
                title: () => 'Smart Contract Calls in Transaction by Gas used',
                id: 'TransactionAttributes',
                columns: [
                    {
                        name: 'Call Depth', cell: row => row.Call.Depth
                    },
                    {
                        name: 'Method', cell: row => ({
                            method: row.Call.Signature.Name,
                            hash: row.Call.Signature.SignatureHash,
                            value: row.Call.Value
                        }),
                        rendering: renderMethodLink, headerStyle: {width: '30%'},
                    },
                    {
                        name: 'Caller', cell: row => row.Call.From,
                        rendering: renderJustAddressLink, headerStyle: {width: '30%'},
                    },
                    {
                        name: 'Gas used', cell: row => row.Call.GasUsed,
                        rendering: renderNumbers, headerStyle: {textAlign: 'end'},
                    },
                    {
                        name: 'Success?', cell: row => row.Call?.Success
                    },
                ]
            }
        }
    }

    const variables = {
        network: '<%= @streaming%>',
        hash: '<%= @hash%>',
    }
    renderComponent('<%=@streaming_access_token %>',[[TransactionAttributes, '#TransactionAttributes']], 'Smart-Contract-Calls-in-Transaction_2', variables);
</script>
