<div class='row'>
  <div class='col-12 col-lg-12 mb-4'>
    <div class='card' id='TransactionAttributes'></div>
  </div>
</div>
<script>
    class TransactionAttributes extends BootstrapTableComponent {
        configuration() {
            return {
                topElement: function (response) {
                    return response.EVM.Calls
                },
                chainId: function (response) {
                    return response.EVM.Calls[0]?.ChainId
                },
                columns: [
                    {
                        name: 'Call Depth', cell: function (row) {
                            return row.Call.Depth
                        },
                    },
                    {
                        name: 'Method', cell: function (row) {
                            return {method: row.Call.Signature.Name, hash: row.Call.Signature.SignatureHash, value:row.Call.Value}
                        }, rendering: renderMethodLink, headerStyle: {width: '30%'},
                    },
                    {
                        name: 'Caller', cell: function (row) {
                            return row.Call.From
                        }, rendering: renderJustAddressLink, headerStyle: {width: '30%'},
                    },
                    {
                        name: 'Gas used', cell: function (row) {
                            return row.Call.GasUsed
                        }, rendering: renderNumbers, headerStyle: {textAlign: 'end'},
                    },
                    {
                        name: 'Success?', cell: function (row) {
                            return row.Call?.Success
                        },
                    },
                ]
            }
        }
    }

    const variables = {
        network: '<%= @streaming%>',
        hash: '<%= @hash%>',
    }
    renderComponent([[TransactionAttributes, '#TransactionAttributes']], 'Smart-Contract-Calls-in-Transaction_2', variables);
</script>
