<div class='row'>
  <div class='col-12 col-lg-12 mb-4'>
    <div class='card' id='TransactionAttributes'></div>
  </div>
</div>
<script>
    class TransactionAttributes extends BootstrapTableComponent {
        configuration() {
            return {
                topElement: response =>response.EVM.Events,
                chainId: response => response.EVM.Events[0]?.ChainId,
                title: () => 'Smart Contract Events logged in Transaction',
                id: 'TransactionAttributes',
                columns: [
                    {
                        name: 'Event', cell: row =>  ({event: row.Log.Signature.Name, hash: row.Log.Signature.SignatureHash}),
                        rendering: renderEventLink
                    },
                    {
                        name: 'Smart Contract', cell: row =>  row.Log.SmartContract,
                        rendering: renderJustAddressLink, headerStyle: {width: '40%'},
                    },
                    {
                        name: 'Event count', cell: row =>  row.count,
                        rendering: renderNumbers, headerStyle: {textAlign: 'end'},
                    },
                ]
            }
        }
    }

    const variables = {
        network: '<%= @streaming%>',
        hash: '<%= @hash%>',
    }
    renderComponent('<%=@streaming_access_token %>',[[TransactionAttributes, '#TransactionAttributes']], 'Smart-Contract-Events-logged-in-Transaction', variables);
</script>
