<div class='row'>
  <div class='col-12 col-lg-12 mb-4'>
    <div class='card' id='TransactionAttributes'></div>
  </div>
</div>
<script>
    class TransactionAttributes extends BootstrapTableComponent {
        configuration() {
            return {
                topElement: function (response) {
                    return response.EVM.Events
                },
                chainId: function (response) {
                    return response.EVM.Events[0]?.ChainId
                },
                columns: [
                    {
                        name: 'Event', cell: function (row) {
                            return {event: row.Log.Signature.Name, hash: row.Log.Signature.SignatureHash}
                        }, rendering: renderEventLink
                    },
                    {
                        name: 'Smart Contract', cell: function (row) {
                            return row.Log.SmartContract
                        }, rendering: renderJustAddressLink, headerStyle: {width: '40%'},
                    },
                    {
                        name: 'Event count', cell: function (row) {
                            return row.count
                        }, rendering: renderNumbers, headerStyle: {textAlign: 'end'},
                    },
                ]
            }
        }
    }

    const variables = {
        network: '<%= @streaming%>',
        hash: '<%= @hash%>',
    }
    renderComponent([[TransactionAttributes, '#TransactionAttributes']], 'Smart-Contract-Events-logged-in-Transaction', variables);
</script>
