<div class="row">
  <div class="col-12 col-lg-12 mb-4">
    <div class="card" id="TransactionAttributes"></div>
  </div>
</div>
<script >
  class TransactionAttributes extends BootstrapTableComponent {
    configuration() {
      return  {
        topElement: function (response){ return response.EVM.Events},
        chainId: function (response){ return response.EVM.Events[0]?.ChainId},
        columns: [
          {
            name: 'Event', cell: function(row) { return {event:row.Log.Signature.Name, hash:row.Log.Signature.SignatureHash} },rendering: renderEventLink
          },
          {
            name: 'Event count', cell: function(row){return row.count},
          },
          {
            name: 'Smart Contract', cell: function(row){return row.Log.SmartContract}, rendering:renderAddressLink,
          },
        ]
      }
    }
  }
  const variables = {
    // network:'<%= @streaming%>',
    // hash:' <%= @hash%>',
    network:'eth',
    hash: '0xe809cf73543ccf1ebca47cc1b2e2ba7d5a41926a1c38daeb600e701ae2f7c7e9'
  }
    renderComponent(TransactionAttributes, "#TransactionAttributes",'Smart-Contract-Events-logged-in-Transaction',variables);
</script>
