<div class='row'>
  <div class='col-12 col-lg-12 mb-4'>
    <div class='card' id='TransactionAttributes'></div>
  </div>
</div>
<script>
    class TransactionAttributes extends BootstrapVerticalTableComponent {
        configuration() {
            return {
                topElement: function (response) {
                    return [...response.EVM.Transactions, ...response.EVM.Transfers]
                },
                chainId: function (response) {
                    return response.EVM.Transactions[0]?.ChainId
                },
                columns: [
                    {
                        name: 'Block', cell: function (row) {
                            return row.Block?.Number
                        }, rendering: renderBlockLink,
                    },
                    {
                        name: 'Timestamp', cell: function (row) {
                            return row.Block?.Time
                        }, rendering: renderDate,
                    },
                    {
                        name: 'Sender', cell: function (row) {
                            return row.Transaction?.From
                        }, rendering: renderAddressLink,
                    },
                    {
                        name: 'Receiver', cell: function (row) {
                            return row.Transaction?.To
                        }, rendering: renderAddressLink,
                    },
                    {
                        name: 'Transfers count', cell: function (row) {
                            return row.t_count
                        },
                    },
                    {
                        name: 'Amount', cell: function (row) {
                            return row.t_sum
                        },
                    },
                    {
                        name: 'Gas Cost', cell: function (row) {
                            return row.sum
                        },
                    },
                    {
                        name: 'Gas Used', cell: function (row) {
                            return row.Block?.GasUsed
                        },
                    },
                    {
                        name: 'Transaction Fee', cell: function (row) {
                            return row.sum
                        },
                    },
                    {
                        name: 'Gas', cell: function (row) {
                            return row.Transaction?.Gas
                        },
                    },
                    {
                        name: 'Value', cell: function (row) {
                            return row.Transaction?.Value
                        },
                    },
                    {
                        name: 'Protected?', cell: function (row) {
                            return row.Transaction?.Protected
                        },
                    },
                    {
                        name: 'Success?', cell: function (row) {
                            return row.Transfer?.Success
                        },
                    },
                    {
                        name: 'Hash', cell: function (row) {
                            return row.Transaction?.Hash
                        },
                    },
                ]
            }
        }
    }

    const variables = {
        network: '<%= @streaming%>',
        hash: '<%= @hash%>',
    };
    renderComponent([[TransactionAttributes, '#TransactionAttributes']], 'Transaction-Attributes_5', variables);
</script>
