<div class='row'>
  <div class='col-12 col-lg-12 mb-4'>
    <div class='card' id='TransactionAttributes'></div>
  </div>
</div>
<script>
    class TransactionAttributes extends BootstrapTableComponent {
        configuration() {
            return {
                topElement: function (response) {
                    return response.EVM.Transfers
                },
                chainId: function (response) {
                    return response.EVM.Transfers[0]?.ChainId
                },
                columns: [
                    {
                        name: 'Sender', cell: function (row) {
                            return row.Transaction?.From
                        }, rendering: renderAddressLink, headerStyle: {width: '30%'},
                    },
                    {
                        name: '', cell: function (row) {
                            return ''
                        }, rendering: renderSenderRecieverIcon, headerStyle: {width: '50px'},
                    },
                    {
                        name: 'Receiver', cell: function (row) {
                            return row.Transaction?.To
                        }, rendering: renderAddressLink, headerStyle: {width: '30%'},
                    },
                    {
                        name: 'Amount', cell: function (row) {
                            return row.sum
                        }, rendering: renderNumbers, headerStyle: {textAlign: 'end'},
                    },
                    {
                        name: 'Currency', cell: function (row) {
                            return row.Transfer?.Currency.Symbol
                        },
                    },
                    {
                        name: 'Success?', cell: function (row) {
                            return row.Transfer?.Success
                        },
                    },
                ]
            }
        }
    }

    const variables = {
        network: '<%= @streaming%>',
        hash: '<%= @hash%>',
    }
    renderComponent(TransactionAttributes, '#TransactionAttributes', 'Token-Transfers-in-Transaction', variables);
</script>
