<div class='row'>
  <div class='col-12 col-lg-12 mb-4'>
    <div class='card' id='TransactionAttributes'></div>
  </div>
</div>
<script type="module">
    class TransactionAttributes extends BootstrapTableComponent {
        configuration() {
            return {
                topElement: response => response.EVM.Transfers,
                chainId: response => response.EVM.Transfers[0]?.ChainId,
                title:()=>'Token Transfers in Transaction',
                id:'TransactionAttributes',
                columns: [
                    {
                        name: 'Sender', cell: row =>  row.Transaction?.From,
                        rendering: renderJustAddressLink, headerStyle: {width: '30%'},
                    },
                    {
                        name: '', cell: row =>  '', rendering: renderSenderRecieverIcon, headerStyle: {width: '50px'},
                    },
                    {
                        name: 'Receiver', cell: row =>  row.Transaction?.To,
                        rendering: renderJustAddressLink, headerStyle: {width: '30%'},
                    },
                    {
                        name: 'Amount', cell: row =>  row.sum,
                        rendering: renderNumbers, headerStyle: {textAlign: 'end'},
                    },
                    {
                        name: 'Currency', cell: row =>  ({
                            currency: row.Transfer.Currency.Symbol,
                                smartContract: row.Transfer.Currency.SmartContract
                            }),
                        rendering: renderTokenLink,headerStyle: {width: '100px'},
                    },
                    {
                        name: 'Id', cell: row =>  ({id: row.Transfer.Id, address: row.Transfer.Currency.SmartContract}),
                        rendering: renderIdLink
                    },
                    {
                        name: 'Success?', cell: row =>  row.Transfer?.Success,
                        headerStyle: {width: '100px'},
                    },
                ]
            }
        }
    }

    const variables = {
        network: '<%= @streaming%>',
        hash: '<%= @hash%>',
    }
    renderComponent('<%=@streaming_access_token %>',[[TransactionAttributes, '#TransactionAttributes']], 'Token-Transfers-in-Transaction_1', variables);
</script>
