<%# /Events-and-Calls-by-tx-hash_1 %>
<div class='row'>
  <div class='col-12 col-lg-12 mb-4'>
    <div id='EventsAndCallsByTXHash' class='card'></div>
  </div>
</div>
<div class='row'>
  <div class='col-12 col-lg-12 mb-4'>
    <div id='GraphTX' class='card'></div>
  </div>
</div>
<script>
    class EventsAndCallsByTXHash extends TreeComponent {
        configuration() {
            return {
                topElement: function (response) {
                    return response.EVM
                },
                chainId: function (response) {
                    return response.EVM.Calls[0]?.ChainId || response.EVM.Events[0]?.ChainId
                },
                rendering: {
                    renderJustAddressLink,
                    renderSenderRecieverIcon,
                    renderMethodLink,
                    renderEventLink,
                    renderNumbers,
                    renderBytes32,
                }
            }
        }
    }

    class GraphTX extends GraphsComponent {
        configuration() {
            return {
                topElement: function (response) {
                    return response.EVM.Calls
                },
                chainId: function (response) {
                    return response.EVM.Calls[0]?.ChainId
                },
                title: 'Sender and receiver by TX',
                columns: [
                    {
                        name: 'Time', cell: function (row) {
                            return row.Block.Time
                        }, rendering: renderDate,
                    },
                    {
                        name: 'Sender', cell: function (row) {
                            return row.Call.From
                        },
                    },
                    {
                        name: 'Receiver', cell: function (row) {
                            return row.Call.To
                        },
                    },
                    // {
                    //     name: 'TX Hash', cell: function (row) {
                    //         return row.Transaction.Hash
                    //     },
                    // },
                ]
            }
        }
    }

    const variables = {
        network: '<%= @streaming%>',
        hash: '<%=@hash %>',
        // network: "eth",
        // tx: '0xc2685aa55d1365a75100eb8efcc44ddeb031dab1c7ad083775a8bd681d54d223'
        //0xefe0b843e57edc4f0fe77a43da6755308559a6ddab5b2a01918603670888da80  (arbitrum)
        //0xefe0b843e57edc4f0fe77a43da6755308559a6ddab5b2a01918603670888da80  (arbitrum)
    }

    renderComponent([[EventsAndCallsByTXHash, '#EventsAndCallsByTXHash'], [GraphTX, '#GraphTX']], 'Events-and-Calls_9', variables);
    //0xc2685aa55d1365a75100eb8efcc44ddeb031dab1c7ad083775a8bd681d54d223
    //0x93f1ecae8d620efe77cc089fcc829aea7efebe32e234c96c277a9c3f01fd8ad7
</script>
