<%# /Events-and-Calls-by-tx-hash_1 %>
<div>
  Description"> Keywords"> Title" /> Description" />


  0xdee9feee21e27a41c978c5480f18250830627751037477c07277986cd303957f
  🇺🇸
  Blockchains
  Arbitrum Mainnet
  Transaction: 0xdee9feee21...
  translation missing: en.tabs.tx.txTree.name
  Crypto News
  Arbitrum Mainnet   Arbitrum Mainnet transaction 0xdee9feee21e27a41c978c5480f18250830627751037477c07277986cd303957f
  Transaction
  Transfers
  DEX Trades
  Calls
  Events
  Name
  Free DEX Swaps
  Events and Calls
  From:
  0x55dcad916750c19c4ec69d65ff0317767b36ce90
  To:
  0xad3b67bca8935cb510c8d18bd45f0b94f54a968f
  balanceOf(address)
  From:
  0xad3b67bca8935cb510c8d18bd45f0b94f54a968f
  To:
  0x471a202f69d6e975da55e363dab1bdb2e86e0c0f
  settleOrders(bytes)
  From:
  0xad3b67bca8935cb510c8d18bd45f0b94f54a968f
  To:
  0xa88800cd213da5ae406ce248380802bd53b47647
  From:
  0xa88800cd213da5ae406ce248380802bd53b47647
  To:
  0x0000000000000000000000000000000000000004
  fillOrderTo((uint256,address,address,address,address,address,uint256,uint256,uint256,bytes),bytes,bytes,uint256,uint256,uint256,address)
  From:
  0xa88800cd213da5ae406ce248380802bd53b47647
  To:
  0x1111111254eeb25477b68fb85ed929f73a960582
  From:
  0x1111111254eeb25477b68fb85ed929f73a960582
  To:
  0x0000000000000000000000000000000000000001
  transferFrom(address,address,uint256)
  From:
  0x1111111254eeb25477b68fb85ed929f73a960582
  To:
  0xf647753dfe6649a53cc0ee4466c877ffb0c96469
  Event:
  Transfer(address,address,uint256)
  Event:
  Approval(address,address,uint256)
  fillOrderInteraction(address,uint256,uint256,bytes)
  From:
  0x1111111254eeb25477b68fb85ed929f73a960582
  To:
  0xa88800cd213da5ae406ce248380802bd53b47647
  From:
  0xa88800cd213da5ae406ce248380802bd53b47647
  To:
  0x0000000000000000000000000000000000000004
  fillOrderTo((uint256,address,address,address,address,address,uint256,uint256,uint256,bytes),bytes,bytes,uint256,uint256,uint256,address)
  From:
  0xa88800cd213da5ae406ce248380802bd53b47647
  To:
  0x1111111254eeb25477b68fb85ed929f73a960582
  From:
  0x1111111254eeb25477b68fb85ed929f73a960582
  To:
  0x0000000000000000000000000000000000000001
  transferFrom(address,address,uint256)
  From:
  0x1111111254eeb25477b68fb85ed929f73a960582
  To:
  0xa71d0588eaf47f12b13cf8ec750430d21df04974
  Event:
  Transfer(address,address,uint256)
  Event:
  Approval(address,address,uint256)
  fillOrderInteraction(address,uint256,uint256,bytes)
  From:
  0x1111111254eeb25477b68fb85ed929f73a960582
  To:
  0xa88800cd213da5ae406ce248380802bd53b47647
  resolveOrders(address,bytes,bytes)
  From:
  0xa88800cd213da5ae406ce248380802bd53b47647
  To:
  0xad3b67bca8935cb510c8d18bd45f0b94f54a968f
  approve(address,uint256)
  From:
  0xa88800cd213da5ae406ce248380802bd53b47647
  To:
  0x471a202f69d6e975da55e363dab1bdb2e86e0c0f
  Event:
  Approval(address,address,uint256)
  transferFrom(address,address,uint256)
  From:
  0x1111111254eeb25477b68fb85ed929f73a960582
  To:
  0x471a202f69d6e975da55e363dab1bdb2e86e0c0f
  Event:
  Approval(address,address,uint256)
  Event:
  Transfer(address,address,uint256)
  Event:
  OrderFilled(address,bytes32,uint256)
  approve(address,uint256)
  From:
  0xa88800cd213da5ae406ce248380802bd53b47647
  To:
  0x471a202f69d6e975da55e363dab1bdb2e86e0c0f
  Event:
  Approval(address,address,uint256)
  transferFrom(address,address,uint256)
  From:
  0x1111111254eeb25477b68fb85ed929f73a960582
  To:
  0x471a202f69d6e975da55e363dab1bdb2e86e0c0f
  Event:
  Approval(address,address,uint256)
  Event:
  Transfer(address,address,uint256)
  Event:
  OrderFilled(address,bytes32,uint256)
  balanceOf(address)
  From:
  0xad3b67bca8935cb510c8d18bd45f0b94f54a968f
  To:
  0x471a202f69d6e975da55e363dab1bdb2e86e0c0f
  Get History API
  Bitcoin Mainnet Litecoin Dogecoin Dash Ethereum Mainnet Ethereum Classic Ethereum Classic no reorg Ethereum PoW ZCash Bitcoin Cash Bitcoin SV Cardano Algorand Mainnet Algorand Testnet Algorand Betanet Binance DEX Celo Alfajores Testnet Binance (BNB) Smart Chain Testnet Binance (BNB) Smart Chain Mainnet Goerli Ethereum Testnet Celo Baklava Testnet Celo Mainnet Conflux Hydra Conflux Oceanus Hedera Hashgraph Mainnet EOS Mainnet TRON Mainnet Solana Mainnet Medalla Eth 2.0 Testnet Beacon Chain Ethereum 2.0 Filecoin Mainnet Matic (Polygon) Mainnet Velas Mainnet Velas Testnet Klaytn Mainnet The MultiversX (Elrond) Mainnet Avalanche  C-chain Fantom Mainnet Moonbeam Mainnet Cronos Mainnet Cosmos Hub Network Crypto.org Mainnet Crypto.org Croeseid Testnet Heimdall (Matic Verification Network) Terra Flow Mainnet Stellar Ledger Ripple XRP Ledger Tezos Everscale Arbitrum Mainnet
  Built with Widgets  by Bitquery.io
  Check our Blockchain GraphQL APIs by clicking on the “Open GraphQL IDE“ button!
  We are hiring |  Media kit |  Crypto News Partner |  Out Discord
</div>
<div class='row'>
  <div class='col-12 col-lg-12 mb-4'>
    <div id='EventsAndCallsByTXHash' class='card'></div>
  </div>
</div>
<div>
  Description"> Keywords"> Title" /> Description" />


  0xdee9feee21e27a41c978c5480f18250830627751037477c07277986cd303957f
  🇺🇸
  Blockchains
  Arbitrum Mainnet
  Transaction: 0xdee9feee21...
  translation missing: en.tabs.tx.txTree.name
  Crypto News
  Arbitrum Mainnet   Arbitrum Mainnet transaction 0xdee9feee21e27a41c978c5480f18250830627751037477c07277986cd303957f
  Transaction
  Transfers
  DEX Trades
  Calls
  Events
  Name
  Free DEX Swaps
  Events and Calls
  From:
  0x55dcad916750c19c4ec69d65ff0317767b36ce90
  To:
  0xad3b67bca8935cb510c8d18bd45f0b94f54a968f
  balanceOf(address)
  From:
  0xad3b67bca8935cb510c8d18bd45f0b94f54a968f
  To:
  0x471a202f69d6e975da55e363dab1bdb2e86e0c0f
  settleOrders(bytes)
  From:
  0xad3b67bca8935cb510c8d18bd45f0b94f54a968f
  To:
  0xa88800cd213da5ae406ce248380802bd53b47647
  From:
  0xa88800cd213da5ae406ce248380802bd53b47647
  To:
  0x0000000000000000000000000000000000000004
  fillOrderTo((uint256,address,address,address,address,address,uint256,uint256,uint256,bytes),bytes,bytes,uint256,uint256,uint256,address)
  From:
  0xa88800cd213da5ae406ce248380802bd53b47647
  To:
  0x1111111254eeb25477b68fb85ed929f73a960582
  From:
  0x1111111254eeb25477b68fb85ed929f73a960582
  To:
  0x0000000000000000000000000000000000000001
  transferFrom(address,address,uint256)
  From:
  0x1111111254eeb25477b68fb85ed929f73a960582
  To:
  0xf647753dfe6649a53cc0ee4466c877ffb0c96469
  Event:
  Transfer(address,address,uint256)
  Event:
  Approval(address,address,uint256)
  fillOrderInteraction(address,uint256,uint256,bytes)
  From:
  0x1111111254eeb25477b68fb85ed929f73a960582
  To:
  0xa88800cd213da5ae406ce248380802bd53b47647
  From:
  0xa88800cd213da5ae406ce248380802bd53b47647
  To:
  0x0000000000000000000000000000000000000004
  fillOrderTo((uint256,address,address,address,address,address,uint256,uint256,uint256,bytes),bytes,bytes,uint256,uint256,uint256,address)
  From:
  0xa88800cd213da5ae406ce248380802bd53b47647
  To:
  0x1111111254eeb25477b68fb85ed929f73a960582
  From:
  0x1111111254eeb25477b68fb85ed929f73a960582
  To:
  0x0000000000000000000000000000000000000001
  transferFrom(address,address,uint256)
  From:
  0x1111111254eeb25477b68fb85ed929f73a960582
  To:
  0xa71d0588eaf47f12b13cf8ec750430d21df04974
  Event:
  Transfer(address,address,uint256)
  Event:
  Approval(address,address,uint256)
  fillOrderInteraction(address,uint256,uint256,bytes)
  From:
  0x1111111254eeb25477b68fb85ed929f73a960582
  To:
  0xa88800cd213da5ae406ce248380802bd53b47647
  resolveOrders(address,bytes,bytes)
  From:
  0xa88800cd213da5ae406ce248380802bd53b47647
  To:
  0xad3b67bca8935cb510c8d18bd45f0b94f54a968f
  approve(address,uint256)
  From:
  0xa88800cd213da5ae406ce248380802bd53b47647
  To:
  0x471a202f69d6e975da55e363dab1bdb2e86e0c0f
  Event:
  Approval(address,address,uint256)
  transferFrom(address,address,uint256)
  From:
  0x1111111254eeb25477b68fb85ed929f73a960582
  To:
  0x471a202f69d6e975da55e363dab1bdb2e86e0c0f
  Event:
  Approval(address,address,uint256)
  Event:
  Transfer(address,address,uint256)
  Event:
  OrderFilled(address,bytes32,uint256)
  approve(address,uint256)
  From:
  0xa88800cd213da5ae406ce248380802bd53b47647
  To:
  0x471a202f69d6e975da55e363dab1bdb2e86e0c0f
  Event:
  Approval(address,address,uint256)
  transferFrom(address,address,uint256)
  From:
  0x1111111254eeb25477b68fb85ed929f73a960582
  To:
  0x471a202f69d6e975da55e363dab1bdb2e86e0c0f
  Event:
  Approval(address,address,uint256)
  Event:
  Transfer(address,address,uint256)
  Event:
  OrderFilled(address,bytes32,uint256)
  balanceOf(address)
  From:
  0xad3b67bca8935cb510c8d18bd45f0b94f54a968f
  To:
  0x471a202f69d6e975da55e363dab1bdb2e86e0c0f
  Get History API
  Bitcoin Mainnet Litecoin Dogecoin Dash Ethereum Mainnet Ethereum Classic Ethereum Classic no reorg Ethereum PoW ZCash Bitcoin Cash Bitcoin SV Cardano Algorand Mainnet Algorand Testnet Algorand Betanet Binance DEX Celo Alfajores Testnet Binance (BNB) Smart Chain Testnet Binance (BNB) Smart Chain Mainnet Goerli Ethereum Testnet Celo Baklava Testnet Celo Mainnet Conflux Hydra Conflux Oceanus Hedera Hashgraph Mainnet EOS Mainnet TRON Mainnet Solana Mainnet Medalla Eth 2.0 Testnet Beacon Chain Ethereum 2.0 Filecoin Mainnet Matic (Polygon) Mainnet Velas Mainnet Velas Testnet Klaytn Mainnet The MultiversX (Elrond) Mainnet Avalanche  C-chain Fantom Mainnet Moonbeam Mainnet Cronos Mainnet Cosmos Hub Network Crypto.org Mainnet Crypto.org Croeseid Testnet Heimdall (Matic Verification Network) Terra Flow Mainnet Stellar Ledger Ripple XRP Ledger Tezos Everscale Arbitrum Mainnet
  Built with Widgets  by Bitquery.io
  Check our Blockchain GraphQL APIs by clicking on the “Open GraphQL IDE“ button!
  We are hiring |  Media kit |  Crypto News Partner |  Out Discord
</div>
<script>
    class EventsAndCallsByTXHash extends TreeComponent {
        configuration() {
            return {
                topElement: function (response) {
                    return response.EVM
                },
                chainId: function (response) {
                    return response.EVM.Calls[0]?.ChainId
                },
                rendering: {renderJustAddressLink, renderSenderRecieverIcon,renderMethodLink,renderEventLink}
            }
        }
    }

    const variables = {
<!--        network: '<%= @streaming%>',-->
<!--        limit: 10,-->
<!--        offset: 0,-->
<!--        address: '<%= @address %>',-->
<!--        token: '<%= @address %>',-->
<!--        id: '<%= @id %>',-->
        network:"eth",
        tx:'0xc2685aa55d1365a75100eb8efcc44ddeb031dab1c7ad083775a8bd681d54d223'
    }

    renderComponent(EventsAndCallsByTXHash, '#EventsAndCallsByTXHash', 'Events-and-Calls_4', variables);
    //0xc2685aa55d1365a75100eb8efcc44ddeb031dab1c7ad083775a8bd681d54d223
//0x93f1ecae8d620efe77cc089fcc829aea7efebe32e234c96c277a9c3f01fd8ad7
</script>
