<%# /Events-and-Calls-by-tx-hash_1 %>
<div class='row'>
  <div class='col-12 col-lg-12 mb-4'>
    <div id='EventsAndCallsByTXHash' class='card'></div>
  </div>
</div>
<script>
    class EventsAndCallsByTXHash extends TreeComponent {
        configuration() {
            return {
                topElement: function (response) {
                    return response.EVM
                },
                chainId: function (response) {
                    return response.EVM.Calls[0].ChainId
                },
                // calls: [
                //   {
                //     name: 'From', cell: function(row){ return row.Signature.Signature},
                //   },
                // ],
                // events: [
                //   {

                //   },
                // ],
            }
        }
    }

    const variables = {
        network: '<%= @streaming%>',
        limit: 10,
        offset: 0,
        address: '<%= @address %>',
        token: '<%= @address %>',
        id: '<%= @id %>',
    }

    renderComponent(EventsAndCallsByTXHash, '#EventsAndCallsByTXHash', 'Events-and-Calls-by-tx-hash_1_1', variables);
</script>
