
<p>
  Virus Data is courtesy of
  <%= link_to 'World Health Organisation', 'https://www.who.int/emergencies/diseases/novel-coronavirus-2019/situation-reports/' %>, post processed by
  <%= link_to 'John Hopkings Univesity', 'https://github.com/CSSEGISandData' %>.

  Demographic data is courtesy of
  <%= link_to 'United Nations', 'https://population.un.org/wpp/Download/Standard/CSV/' %>



</p>