
<% content_for :title, @header %>

<div class="row search mb-2">
  <div class="col-12 col-lg">
    <!--    <%# if local_assigns[:header] %><h6 class="header-title word-wrap"><%#= header %></h6><%# end %>-->
    <h1 class="mt-2 word-wrap"><%= @header %></h1>
  </div>

    <div class="col-12 col-lg-auto">
      <%= render partial: 'shared/reportrange' %>
    </div>

</div>

<%= render partial: 'timegraph' %>
