<% if annotation && annotation!='' %>
  <%= t "pages.address.description.annotation" %>
  <span class="text-success"
        style="text-decoration: underline; text-underline-position: under; text-decoration-style: dotted">
        <strong><%= annotation %></strong>
      </span>
<% end %>