<footer>
  <div class="container-fluid mt-5 mb-5 text-center">
    &copy; Bitquery LLC, 2019-<%= Date.today.year %> <%#= <br class="d-lg-none"><span class="d-none d-lg-inline">|</span>
    <a href="/about/terms_and_conditions">Terms and Conditions</a> <br class="d-lg-none"><span class="d-none d-lg-inline">|</span>
    <a href="/about/privacy_policy">Privacy Policy</a> <br class="d-lg-none"><span class="d-none d-lg-inline">|</span>
    <a href="mailto:hello@bloxy.info">Contact us</a> |

    <a class="text-info" href="https://twitter.com/Bloxy_info">
      Twitter <span class="fa fa-twitter"></span>
    </a>    |
    <a class="text-info" href="https://t.me/Bloxy_info">
      Telegram <span class="fa fa-telegram"></span>
    </a>    |
    <a class="text-info" href="https://www.youtube.com/channel/UCwk7mPo96sjS6xZ3rBnZt_A">
      YouTube <span class="fa fa-youtube"></span>
    </a> %>
  </div>
</footer>