<footer>
  <div class="container-fluid mt-5 mb-5 text-center">
    &copy; Bitquery LLC, 2019-<%= Date.today.year %><br>
    Built with <%= link_to 'Bitquery Widgets', 'https://github.com/bitquery/widgets' %>
  </div>
</footer>