<footer>
  <div class="container-fluid mt-5 mb-5 text-center">
    Bitquery is the <%= link_to 'open source', 'https://github.com/bitquery/explorer'%> unified blockchain explorer,
    built with <%= link_to 'Bitquery Widgets', 'https://github.com/bitquery/widgets' %>
  </div>
</footer>