<footer>
  <div class="container-fluid mt-5 mb-5 text-center">
    <%= t 'pages.footer.built' %>
    <%= link_to 'Widgets', 'https://github.com/bitquery/widgets' %>
    <i class="fab fa-github"></i>
  </div>
</footer>