<footer>
  <div class="container-fluid mt-5 mb-5 text-center">
    Built on Bitquery
    <%= link_to 'Explorer', 'https://github.com/bitquery/explorer'%>
    and <%= link_to 'Widgets', 'https://github.com/bitquery/widgets' %>
    <i class="fab fa-github"></i>
  </div>
</footer>