<form>
  <div class="row search mb-4">
    <div class="col"><input type="text" value="<%= @address %>" class="form-control" placeholder="Enter token symbol, keyword, address, or tx hash (0x...)"></div>
    <div class="col-auto"><button type="submit" class="btn btn-primary">Search</button></div>
  </div>
</form>
