<li class="nav-item">
  <% if @theme.to_sym == :light %>
    <%= link_to request.query_parameters.merge(theme: :dark), class: 'nav-link' do %><i class="fa fa-moon text-default"></i><% end %>
  <% else %>
    <%= link_to request.query_parameters.merge(theme: :light), class: 'nav-link' do %><i class="fa fa-sun text-default"></i><% end %>
  <% end %>
</li>