<%# themes = {'light': {icon: "\u{1F31E}", name: t('themes.light')}, 'dark': {icon: "\u{1F312}", name: t('themes.dark')}} %>
<% themes = {'light': {icon: "fa-sun", name: t('themes.light')}, 'dark': {icon: "fa-moon", name: t('themes.dark')}} %>

<li class="nav-item dropdown active">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fa <%= themes[@theme.to_sym][:icon] %> text-default"></i>
  </a>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
    <% themes.each do |tag, theme| %>
      <%= link_to request.query_parameters.merge(theme: tag), class: 'dropdown-item' do %>
        <i class="fa <%= theme[:icon] %>"></i> <%= theme[:name] %>
      <% end %>
    <% end %>
  </div>
</li>