<div class="row search mb-2">
  <div class="col-12 col-lg">
    <h6 class="mt-2 word-wrap"><%= header %></h6>
  </div>
  <% if local_assigns[:reportrange] %>
    <div class="col-12 col-lg-auto">
      <%= render partial: 'shared/reportrange' %>
    </div>
  <% end %>
</div>