<div class="row mt-2 mb-2">
  <div class="col-12 col-lg">
    <div class="mt-2 word-wrap">
      <% if @network %><%= network_icon @network %><% end %>
      <span class="<%= icon %>" style="font-size: 30px;"></span>&nbsp;
      <%= header %></div>
  </div>
  <% if local_assigns[:reportrange] %>
    <div class="col-12 col-lg-auto">
      <%= render partial: 'shared/reportrange' %>
    </div>
  <% end %>
</div>