x-common-dns: &common-dns
  dns: 10.0.0.254
  dns_search: ${LC_COMPOSE_CLUSTER}.local
x-common-network: &common-network
  networks:
    - common
x-common-restart: &common-restart
  restart: on-failure
x-graceful-stop: &graceful-stop
  stop_grace_period: 1m
  stop_signal: SIGINT
x-common-logging: &common-logging
  logging:
    driver: "json-file"
    options:
      max-size: "100m"
      max-file: "3"
x-elk-logging: &elk-logging
  logging:
    driver: gelf
    options:
      gelf-address: udp://logstash.services.local:12201

services:
  rails:
    image: ${LC_COMPOSE_IMAGE}:${LC_COMPOSE_IMAGE_TAG}
    command: [
      "bundle", "exec", "pumactl",
      "-F", "config/puma.${LC_COMPOSE_RAILS_ENV}.rb",
      "-P", "tmp/pids/app.pid",
      "start"
    ]
    ports:
      - ${LC_COMPOSE_IPADDR}:${LC_COMPOSE_WEB_PORT}:3000
    environment:
      - RAILS_ENV=${LC_COMPOSE_RAILS_ENV}
      - SECRET_KEY_BASE=${LC_COMPOSE_SECRET_KEY_BASE}
      - EXPLORER_API_KEY=${LC_COMPOSE_EXPLORER_API_KEY}
      - RAILS_MAX_THREADS=${LC_COMPOSE_RAILS_MAX_THREADS:-1}
      - WEB_CONCURRENCY=${LC_COMPOSE_WEB_CONCURRENCY:-12}
      - BITQUERY_PROJECT_URL=${LC_COMPOSE_BITQUERY_PROJECT_URL}
      - BITQUERY_IMAGES=${LC_COMPOSE_BITQUERY_IMAGES}
      - BITQUERY_GRAPHQL=${LC_COMPOSE_BITQUERY_GRAPHQL}
      - BITQUERY_IDE_API=${LC_COMPOSE_BITQUERY_IDE_API}
    <<: *common-dns
    <<: *common-network
    <<: *common-restart
    <<: *elk-logging

networks:
  common:
    external: ${LC_COMPOSE_NETWORK_EXTERNAL:-false}
    name: "${LC_COMPOSE_NETWORK_ID:-bridge-lan}"
