<%= render partial: 'tron/network/calls_by_time' %>
<%= render partial: 'tron/network/calls_table' %>
<div class="row">
  <%= render partial: 'tron/network/calls_count_table' %>
  <%= render partial: 'tron/network/methods_count_table' %>
</div>

