
<h1>COVID-2019 World Data Stats</h1>

<p>
  <strong>
    Look more data on <%= link_to 'World COVID Data', covid_index_path %> page.
  </strong>
</p>

<%= render partial: 'covid' %>


<h1>Blockchain Networks Stats</h1>
<%= render partial: 'networks' %>