
<%#= render partial: 'tron/address/balance' %>

<div class="row">
  <%= render partial: 'tron/address/in_out_transfers_by_time' %>
  <%= render partial: 'tron/address/calls_by_time' %>
</div>


<div class="row">
  <%= render partial: 'tron/address/currencies_table' %>
  <%= render partial: 'tron/address/calls_smart_contracts_table' %>
</div>