<%= render partial: "bitcoin/address/outbound_transfers" %>

<div class="row">
  <%= render partial: "bitcoin/address/outbound_by_time" %>
  <%= render partial: "bitcoin/address/outbound_by_script_type" %>
</div>


<%= render partial: "bitcoin/address/outbound_top" %>
