<div class='row'>
  <div class='col-12 col-lg-12 mb-4'>
    <div class='card'>
      <div id='Receivers'></div>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-12 col-lg-12 mb-4'>
    <div class='card'>
      <div id='ReceiversStats'></div>
    </div>
  </div>
</div>
<div class='row mb-4'>
  <div class='col-12 col-xl-6'>
    <div class='card' id='UniqSenders'></div>
  </div>
  <div class='col-12 col-xl-6'>
    <div class='card' id='MedianTransferAmount'></div>
  </div>
</div>
<script>
    class Receivers extends BarChartComponent {
        configuration() {
            return {
                topElement: function (response) {
                    return response.EVM.Transfers
                },
                chainId: function (response) {
                    return response.EVM.Transfers[0]?.ChainId
                },
                columns: [
                    {
                        name: 'Receiver', cell: function (row) {
                            return row.Transfer.Receiver
                        },
                    },
                    {
                        name: 'Amount', cell: function (row) {
                            return +row.amount
                        }
                    },
                ],
                options: {
                    theme: 'material'
                }
            }
        }
    }

    class ReceiversStats extends BootstrapTableComponent {
        configuration() {
            return {
                topElement: function (response) {
                    return response.EVM.Transfers
                },
                chainId: function (response) {
                    return response.EVM.Transfers[0]?.ChainId
                },
                columns: [
                    {
                        name: 'Receiver', cell: function (row) {
                            return row.Transfer.Receiver
                        }, rendering: renderJustAddressLink, headerStyle: {width: '25%'}
                    },
                    {
                        name: 'Amount', cell: function (row) {
                            return row.amount
                        }, rendering: renderNumbers, headerStyle: {textAlign: 'end'},
                    },
                    {
                        name: 'Max Transfer Amount', cell: function (row) {
                            return row.Transfer.max_amount
                        }, rendering: renderNumbers, headerStyle: {textAlign: 'end'},
                    },
                    {
                        name: 'Currency', cell: function (row) {
                            return {
                                currency: row.Transfer.Currency.Symbol,
                                smartContract: row.Transfer.Currency.SmartContract
                            }
                        }, rendering: renderTokenLink,
                    },
                    {
                        name: 'Uniq Sender', cell: function (row) {
                            return row.sender_count
                        }, rendering: renderNumbers, headerStyle: {textAlign: 'end'},
                    },
                    {
                        name: 'Last Date', cell: function (row) {
                            return row.Block.Date
                        },
                    },
                    {
                        name: 'Transfer Count', cell: function (row) {
                            return row.count
                        }, rendering: renderNumbers, headerStyle: {textAlign: 'end'},
                    },
                ]
            }
        }
    }

    class UniqSenders extends TimeChartComponent {
        configuration() {
            return {
                topElement: function (response) {
                    return response.EVM.Transfers
                },
                chainId: function (response) {
                    return response.EVM.Transfers[0]?.ChainId
                },
                columns: [
                    {
                        name: 'Date', cell: function (row) {
                            return row.Block.Date
                        }
                    },
                    {
                        name: 'Uniq Senders', cell: function (row) {
                            return +row.count
                        }
                    },
                ],
                options: {
                    theme: 'material',
                    height:380
                }
            }
        }
    }

    class MedianTransferAmount extends TimeChartComponent {
        configuration() {
            return {
                topElement: function (response) {
                    return response.EVM.Transfers
                },
                chainId: function (response) {
                    return response.EVM.Transfers[0]?.ChainId
                },
                columns: [
                    {
                        name: 'Date', cell: function (row) {
                            return row.Block.Date
                        }
                    },
                    {
                        name: 'median transfer amount', cell: function (row) {
                            return row.median
                        }
                    },
                ],
                options: {
                    theme: 'material',
                    height:380

                }
            }
        }
    }

    const variables = {
        network: '<%= @streaming%>',
        address: '<%= @address %>',
    }

    renderWithTime(variables, <%= limited_date_range_limit(@from, @till).join(',').html_safe %>, function f(variables) {
        renderComponent(Receivers, '#Receivers', 'Receivers_1_1', variables);
        renderComponent(ReceiversStats, '#ReceiversStats', 'Receivers-Stats_1', variables);
        renderComponent(UniqSenders, '#UniqSenders', 'Uniq-Receivers', variables);
        renderComponent(MedianTransferAmount, '#MedianTransferAmount', 'Median-Transfer-Amount_1', variables);
    })
</script>
