<% if @native_token %>
  <div class="row">
    <%= render partial: 'arbitrum/token/token_statistics' %>
  </div>
<% else %>
  <div class="row">
    <%= render partial: 'arbitrum/token/token_attributes' %>
    <%= render partial: 'arbitrum/token/token_statistics' %>
  </div>
<% end  %>