<% content_for :html_head do %><link href="https://cdn.jsdelivr.net/gh/bitquery/graphql-ide@1.1.16/build/static/css/main.css" rel="stylesheet"><% end %>


<div id="graphql_ide" baseurl="https://graphql.bitquery.io"></div>


<script src="https://cdn.jsdelivr.net/gh/bitquery/graphql-ide@1.1.16/build/static/js/main.js"></script>