<% content_for :html_head do %>https://raw.githubusercontent.com/bitquery/graphql-ide/main/build/static/js/main.js


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.23.0/theme/dracula.css" />

  <link href="https://cdn.jsdelivr.net/gh/bitquery/graphql-ide@1.1.3/build/static/css/main.css" rel="stylesheet">

<% end %>


<div id="graphql_ide" baseurl="https://graphql.bitquery.io"></div>


<script src="https://cdn.jsdelivr.net/gh/bitquery/graphql-ide@1.1.3/build/static/js/main.js"></script>


