<%= render partial: 'eos/network/calls/calls_by_time' %>
<%= render partial: 'eos/network/calls/calls_table' %>
<div class="row">
  <%= render partial: 'eos/network/calls/calls_count_table' %>
  <%= render partial: 'eos/network/calls/methods_count_table' %>
</div>
