<% if @native_token %>
  <div class="row">
    <%= render partial: 'eos/token/token_statistics' %>
  </div>
<% else %>
  <div class="row">
    <%= render partial: 'eos/token/token_statistics' %>
  </div>
<% end  %>