<div id="token_pair_dashboard" style="position: relative;"></div>

=begin <script>
    createDashboard(
        'abra-kadabra',
        'token_pair_dashboard',
        {
            baseAddress: '<%=@token1 %>',
            quoteAddress: '<%=@token2 %>'
        }
    )
</script> =end