<div id="pair-trading-view"></div>
<script type="text/javascript" charset="utf-8">
    createDashboard('trading-view-dashboard', 'pair-trading-view', {
        baseAddress: '<%=@token1 %>',
        quoteAddress: '<%=@token2 %>'
    })
</script>