<div id="pair-trading-view"><%=@currencies %></div>
<script type="text/javascript" charset="utf-8">
    createDashboard('trading-view-dashboard', 'pair-trading-view', {
        baseAddress: '<%=@token1 %>',
        quoteAddress: '<%=@token2 %>',
        network: '<%= params['network']['network'] %>'
    })
</script>