<div class="row">
  <div class="col-12 col-lg-12 mb-4" >
    <div id="OHLC-by-intervals-Graph" class="card" ></div>
  </div>
</div>
<script>
  class OHLCbyIntervalsGraph extends TradingGraphsComponent {
    configuration() {
        return  {
            topElement: function (response){ return response.EVM.DEXTradeByTokens},
            chainId: function (response){return response.EVM.DEXTradeByTokens[0].ChainId},
            token1: function (response){return response.EVM.DEXTradeByTokens[0].Trade.Side.Currency.Symbol},//'OCC/WETH'
            token2: function (response){return response.EVM.DEXTradeByTokens[0].Trade.Currency.Symbol} ,
            interval: '15',
        }
    }
  }

  const variables = {
    network:'<%= @streaming%>',
    baseCurrency: '<%= @token1 %>',
    quoteCurrency: '<%= @token2 %>',
    till: new Date().toISOString().slice(0,10),
    from: '2023-04-01'
  }
  // console.log('variables',variables)
    renderComponent(OHLCbyIntervalsGraph, "#OHLC-by-intervals-Graph",'Subscription-OHLC-by-intervals_1_1',variables,'OHLC-by-intervals_1_1_1_1_1_1_1_1_1_1_1_1_1');
</script>
