<div class="row">
  <div class="col-12 col-lg-12 mb-4">
    <div class="card">
      <span class="live-header">Live</span>
      <span class="blinker"></span>
      <div class="card-header">Latest transfers</div>
      <div class="card-body">
        <div id="latest-transfers-live"><%= t('loading') %></div>
      </div>
    </div>
  </div>
</div>

<script>
	createWidget('latest-transfers-live', {
        network: '<%= params['network']['network'] %>',
        baseCurrency: '<%=@token %>',
    })
</script>
