<div class="col-12 col-lg-12 mb-4">
  <div class="card">
	<span class="blinker"></span>
    <div class="card-header">Latest transfers</div>
    <div class="card-body">
      <div id="streaming_table"><%= t('loading') %></div>
    </div>
  </div>
</div>

<script>
	createWidget('streaming_table', {
        network: '<%= params['network']['network'] %>',
        baseCurrency: '<%=@token %>',
    })
</script>
