<div class="col-12 col-lg-12 mb-4">
  <div class="card">
    <div class="card-header">Streaming table</div>
    <div class="card-body">
      <div id="streaming_table"><%= t('loading') %></div>
    </div>
  </div>
</div>

<script>
	createWidget('streaming_table')
</script>
