<% if innovation_in_blockchain? %>
  <div class="row">
    <div class="col-12 col-lg-12 mb-4">
      <div class="card">
        <div id="LatestTradesOfTokenInNetwork"></div>
      </div>
    </div>
  </div>
  <script>
      class LatestTradesOfTokenInNetwork extends BootstrapTableComponent {
          configuration() {
              return {
                  topElement: function (response) {
                      return response.EVM.DEXTradeByTokens
                  },
                  chainId: function (response) {
                      return response.EVM.DEXTradeByTokens[0].ChainId
                  },
                  columns: [
                      {
                          name: 'Timestamp', cell: function (row) {
                              return row.Block.Time
                          }, rendering: renderDate,
                      },
                      {
                          name: 'Block', cell: function (row) {
                              return row.Block.Number
                          }, rendering: renderBlockLink
                      },
                      {
                          name: 'Seller', cell: function (row) {
                              return row.Trade.Seller
                          }, rendering: renderJustAddressLink
                      },
                      {
                          name: 'Sell amount', cell: function (row) {
                              return row.Trade.Amount
                          }, headerStyle: {textAlign: 'end'}, rendering: renderNumbers, headerStyle: {textAlign: 'end'},
                      },
                      {
                          name: 'Sell currency', cell: function (row) {
                              return {
                                  currency: row.Trade.Currency.Symbol,
                                  smartContract: row.Trade.Currency.SmartContract
                              }
                          }, rendering: renderTokenLink,
                      },
                      {
                          name: '', cell: function (row) {
                              return ''
                          }, rendering: renderSenderRecieverIcon, headerStyle: {width: '50px'},
                      },
                      {
                          name: 'Buyer', cell: function (row) {
                              return row.Trade.Buyer
                          },
                          rendering: renderJustAddressLink
                      },
                      {
                          name: 'Buy amount',
                          cell: function (row) {
                              return row.Trade.Side.Amount
                          }, rendering: renderNumbers, headerStyle: {textAlign: 'end'},
                      },
                      {
                          name: 'Buy currency', cell: function (row) {
                              return {
                                  currency: row.Trade.Side.Currency.Symbol,
                                  smartContract: row.Trade.Side.Currency.SmartContract
                              }
                          }, rendering: renderTokenLink,
                      },
                      {
                          name: 'Price',
                          cell: function (row) {
                              return row.Trade.Price
                          }, rendering: renderNumbers, headerStyle: {textAlign: 'end'},
                      },
                      {
                          name: 'Transaction',
                          cell: function (row) {
                              return row.Transaction.Hash
                          },
                          rendering: renderJustAddressLink
                      }
                  ]
              }
          }
      }

      const variables = {
          network: '<%= @streaming%>',
          token: '<%= @token %>',
      }
      renderWithTime(variables, <%= limited_date_range_limit(@from, @till).join(',').html_safe %>, function f(variables) {
          renderComponent(LatestTradesOfTokenInNetwork, "#LatestTradesOfTokenInNetwork", 'Latest-Trades-of-Token-in-Network', variables);
      })
  </script>
<% end %>
