
  <div  id="latest-nft-id-transfers-table"></div>
  <div  id="latest-nft-transfers-table"></div>

<script >

 class LatestNFTTransfersTable extends BootstrapVerticalTableComponent {

      configuration() {
        return  {
            topElement: function (response){ return response.EVM.BalanceUpdates},
      
            columns: [
              {
                name: 'Image', cell: function(row){ return row.BalanceUpdate.URI},rendering: renderImgFromURI,
              },
              {
                name: 'Name', cell: function(row){ return row.Currency.Name},
              },
              {
                name: 'Symbol', cell: function(row){ return  {currency: row.Currency.Symbol, smartContract: row.Currency.SmartContract}},rendering: renderTokenLink,
              },
              {
                name: 'Id', cell: function(row){ return {id:row.BalanceUpdate.Id, address: row.Currency.SmartContract}},rendering: renderIdLink
              },
              {
                name: 'Last owner', cell: function(row){ return row.BalanceUpdate.Address}, rendering: renderAddressLink, 
              },
              {
                name: 'Received in TX', cell: function(row){ return row.Transaction.Hash}, rendering: renderTX, 
              },
            ]
          }
      }
  }
 class IdNFTTransfersTable extends BootstrapTableComponent {

      configuration() {
        return  {
            topElement: function (response){ return response.EVM.Transfers},
            columns: [
              {
                name: 'Time', cell: function(row){ return row.Block.Time}, rendering: renderDate,
              },
              {
                name: 'Sender', cell: function(row){ return row.Transfer.Sender},  rendering: renderAddressLink, 
              },
              {
                name: 'Receiver', cell: function(row){ return row.Transfer.Receiver}, rendering: renderAddressLink, 
              },
              {
                name: 'TX Hash', cell: function(row){ return row.Transaction.Hash}, rendering: renderTX, 
              },
            ]
          }
      }
  }


const variables = {
network: "eth",
  limit: 5,
  offset: 0,
}

renderWithTime(variables,<%= limited_date_range_limit(@from, @till).join(',').html_safe %>, function f(variables){
  renderComponent(LatestNFTTransfersTable, "#latest-nft-id-transfers-table",'NFT-Token-Information-By-ID_1',variables);
  renderComponent(IdNFTTransfersTable, "#latest-nft-transfers-table",'NFT-Transfers-List-By-Id',variables);
})


</script>
