<div class='row mb-4'>
  <div class='col-12 col-xl-5'>
    <div class='card' id='LatestNFTTransfersTable'></div>
  </div>
  <div class='col-12 col-xl-7'>
    <div class='card' id='IdNFTTransfersTable'></div>
  </div>
</div>
<div class='row'>
  <div class='col-12 col-lg-12 mb-4'>
    <div id='IdNFTTransfersGraph' class='card'></div>
  </div>
</div>
<script>
    class LatestNFTTransfersTable extends BootstrapVerticalTableComponent {
        configuration() {
            return {
                topElement: function (response) {
                    return response.EVM.BalanceUpdates
                },
                chainId: function (response) {
                    return response.EVM.BalanceUpdates[0].ChainId
                },
                columns: [
                    {
                        name: 'Image', cell: function (row) {
                            return row.BalanceUpdate.URI
                        }, rendering: renderImgFromURI,
                    },
                    {
                        name: 'Name', cell: function (row) {
                            return row.Currency.Name
                        },
                    },
                    {
                        name: 'Currency', cell: function (row) {
                            return {currency: row.Currency.Symbol, smartContract: row.Currency.SmartContract}
                        }, rendering: renderTokenLink,
                    },
                    {
                        name: 'Id', cell: function (row) {
                            return {id: row.BalanceUpdate.Id, address: row.Currency.SmartContract}
                        }, rendering: renderIdLink
                    },
                    {
                        name: 'Last owner', cell: function (row) {
                            return row.BalanceUpdate.Address
                        }, rendering: renderJustAddressLink,
                    },
                    {
                        name: 'Received in TX', cell: function (row) {
                            return row.Transaction.Hash
                        }, rendering: renderTX,
                    },
                ]
            }
        }
    }

    class IdNFTTransfersTable extends BootstrapTableComponent {
        configuration() {
            return {
                topElement: function (response) {
                    return response.EVM.Transfers
                },
                chainId: function (response) {
                    return response.EVM.Transfers[0].ChainId
                },
                columns: [
                    {
                        name: 'Time', cell: function (row) {
                            return row.Block.Time
                        }, rendering: renderDate,
                    },
                    {
                        name: 'Block', cell: function (row) {
                            return row.Block.Number
                        }, rendering: renderBlockLink,
                    },
                    {
                        name: 'Sender', cell: function (row) {
                            return row.Transfer.Sender
                        }, rendering: renderJustAddressLink,
                    },
                    {
                        name: '', cell: function (row) {
                            return ''
                        }, rendering: renderSenderRecieverIcon, headerStyle: {width: '50px'},
                    },
                    {
                        name: 'Receiver', cell: function (row) {
                            return row.Transfer.Receiver
                        }, rendering: renderJustAddressLink,
                    },
                    {
                        name: 'TX Hash', cell: function (row) {
                            return row.Transaction.Hash
                        }, rendering: renderTX, headerStyle: {width: '110px'},
                    },
                    {
                        name: 'Amount', cell: function (row) {
                            return row.Transfer.Amount
                        }, rendering: renderNumbersWithCurrency, headerStyle: {textAlign: 'end', width: '80px'},
                    }
                ]
            }
        }
    }

    class IdNFTTransfersGraph extends GraphsComponent {
        configuration() {
            return {
                topElement: function (response) {
                    return response.EVM.Transfers
                },
                chainId: function (response) {
                    return response.EVM.Transfers[0].ChainId
                },
                pairs: [
                    {
                        name: 'Transfer',
                        from: {
                            name: 'Sender',
                            cell: function (row) {
                                return row.Transfer.Sender
                            },
                            rendering: renderJustAddressLink
                        },
                        to: {
                            name: 'Receiver',
                            cell: function (row) {
                                return row.Transfer.Receiver
                            },
                            rendering: renderJustAddressLink
                        },
                        checkboxId: null,
                        edgeLabel: {
                            cell: function (row) {
                                return row.Block.Time
                            },
                            rendering: renderDate
                        },
                        color: {
                            color: '#2B7CE9',
                            highlight: '#2B7CE9',
                            hover: '#2B7CE9',
                            inherit: false,
                            opacity: 1.0
                        },
                    },
                ],
            }
        }
    }

    const variables = {
        network: '<%= @streaming%>',
        token: '<%= @token %>',
        id: '<%= @id %>',
    }
    renderComponent([[LatestNFTTransfersTable, '#LatestNFTTransfersTable']], 'NFT-Token-Information-By-ID_5', variables);
    renderComponent([[IdNFTTransfersGraph, '#IdNFTTransfersGraph'], [IdNFTTransfersTable, '#IdNFTTransfersTable']], 'NFT-Transfers-List-By-Id_2', variables);

</script>
