$fa-font-path: '~@fortawesome/fontawesome-free/webfonts'
@import '~@fortawesome/fontawesome-free/scss/regular'
@import '~@fortawesome/fontawesome-free/scss/solid'
@import '~@fortawesome/fontawesome-free/scss/brands'
@import '~@fortawesome/fontawesome-free/scss/v4-shims'
@import '~@fortawesome/fontawesome-free/scss/fontawesome'
@import '~bootstrap/dist/css/bootstrap'
@import "~daterangepicker/daterangepicker"
//@import '~@bitquery/graph/dist/graphs.min'
@import "../../assets/stylesheets/application"

.dropdown:has(.wallet-options)
  min-width: 320px

.wallet-options
  width: 100%

svg[visibility="hidden"] 
  position: absolute
  width: 0
  height: 0

.address 
  background-color: #888
  padding: 5px
  border-radius: 10px
  max-width: 150px
  overflow: hidden
  text-overflow: ellipsis
  color: #efefef
  font-weight: bold

#chains 
  padding: 10px
  min-width: 300px
  cursor: pointer

.add-connection 
  margin: 0.25rem 1.5rem

.wallet-icon 
  width: 30px
  height: 30px
  margin-right: .5rem

.modal-body-wallets use, .modal-body-wallets svg, .wallet-dropdown-menu .dropdown-item > * 
  pointer-events: none

.modal-wallet-selection
  display: flex
  align-items: center
  &:disabled
    filter: grayscale(100%) blur(1px)
  &:hover:enabled
    background-color: #ccc

.tabulator
  font-size: 16px !important

.live-header
  position: absolute
  right: 23px
  top: 15.3px
  color: green
  font-wiegh: bold

.blnkr
  font-size: 5px
  position: relative
  top: -2px
  left: 3px

.blink
  animation: blinker 1s linear infinite

@keyframes blink
  50%
    opacity: 0

.blinker
  position: absolute
  right: 58px
  top: 15px
  border-radius: 50%
  transform: translateY(-50%)
  width: 5px
  height: 5px
  background-color: green
  animation: blinker 1s linear infinite

@keyframes blinker
  50%
    opacity: 0
