<div class="row">
  <%= render partial: 'stellar/token/partials/token_attributes' %>
</div>

<div class="row">
  <%= render partial: 'stellar/token/partials/token_sent_transfer_statistics' %>
  <%= render partial: 'stellar/token/partials/token_received_transfer_statistics' %>
</div>
