<div class="row">
  <%= render partial: 'ripple/address/partials/currencies_sent_table' %>
  <%= render partial: 'ripple/address/partials/currencies_received_table' %>
  <%= render partial: 'ripple/address/partials/total_address_stats' %>
  <%= render partial: 'ripple/address/partials/in_out_transfers_by_time' %>
</div>

