[Unit]
Description=explorer
Requires=network.target

[Service]
User=deploy
PIDFile=/var/www/explorer/current/tmp/pids/explorer.pid
WorkingDirectory=/var/www/explorer/current
Environment="RAILS_SERVE_STATIC_FILES=true"
Environment="SECRET_KEY_BASE=<KEY>"
Environment="EXPLORER_API_KEY=<API KEY>"
Environment="BITQUERY_PROJECT_URL=https://bitquery.io"
Environment="BITQUERY_IMAGES=https://bitquery.io/wp-content/uploads/2020/09"
Environment="BITQUERY_GRAPHQL=https://graphql.bitquery.io"
Environment="ANALYTICS=true"
Environment="PATH=/var/www/explorer/shared/bundle/ruby/2.6.0/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
ExecStart=/bin/bash -lc 'export RAILS_ENV=production && export GEM_PATH=/var/www/explorer/shared/bundle/ruby/2.6.0 && cd /var/www/explorer/current && pumactl -F config/puma.production.rb -P tmp/pids/explorer.pid start'

[Install]
WantedBy=multi-user.target