
<div class="col-lg-6 mb-4">
  <div class="card">
    <div class="card-header">Accumulated data by continent, sorted by confirmed cases</div>
    <div class="card-body">
      <div id="continents"><%= t('loading') %></div>
    </div>
  </div>
</div>


<script>

    widgets.callbacks({
        continent_path: function(item){
            return '/covid/continent/'+item;
        }
    });

    var continent_query = new widgets.query(`
    query($from: ISO8601DateTime, $till: ISO8601DateTime) {
      offchain {
       covid {
          facts(date: {since: $from, till: $till}, options: {desc: "confirmed"}){
              date {
                date(format: "%d/%m")
              }
            country {
              continent
            }

            confirmed
            recovered
            deaths
        }
       }
      }

    }`);

    new widgets.pivotTable('#continents', continent_query, 'offchain.covid.facts', {
        cols: [{
            metrics: [
                {
                    title: 'Confirmed',
                    path: 'confirmed'
                },
                {
                    title: 'Recovered',
                    path: 'recovered'
                },
                {
                    title: 'Deaths',
                    path: 'deaths'
                }
            ]
        }],
        rows: [{
            title: 'Continent',
            path: 'country.continent'
        }],
        sort: {metric: 'Confirmed', direction: 'desc', axis: 'row'},
        title: 'Country stats',
        dataOptions: [
            {
                urlCallbackName: 'continent_path',
            },
            {
                type: 'count'
            },
            {
                type: 'count'
            },
            {
                type: 'count'
            }
        ]
    });

    continent_query.request({from: <%= @from.html_safe %>, till: <%= @till.html_safe %>});

    rr.change(function(start, end, clear){
        continent_query.request({from: start, till: end});
    })

</script>
