
  <div class="col-lg-6 mb-4">
    <div class="card">
      <div class="card-header">Count of new confirmed cases by continent</div>
      <div class="card-body">
        <div id="continent_stacked"><%= t('loading') %></div>
      </div>
    </div>
  </div>


<script>

    var continent_stacked_query = new widgets.query(`
    query($from: ISO8601DateTime, $till: ISO8601DateTime) {
      offchain {
       covid {
          facts(date: {since: $from, till: $till}, options: {desc: "confirmed"}){
              date {
                date(format: "%d/%m")
                fulldate: date
                month: date(format: "%m")
              }
            country {
              continent
            }

            confirmed
            recovered
            deaths
        }
       }
      }

    }`);

    new widgets.pivotChart('#continent_stacked', continent_stacked_query, 'offchain.covid.facts', {
        title: 'Daily stats by continents',
        chartOptions: {
            vAxes: {
                '0': {
                    title: 'New Confirmed Cases Daily',
                    viewWindow: { min: 0 }
                }
            },
            hAxis: {
                title: '<%= t('widgets.titles.date') %>'
            },
            bar: {groupWidth: "100%"},
            isStacked: true
        },
        cols: [{
            title: 'Continent',
            path: 'country.continent',
            metrics: [
                {
                    title: 'Confirmed',
                    path: 'confirmed'
                }
            ]
        }],
        rows: [{
            title: 'Date',
            path: 'date.fulldate',
            sort: 'asc'
        }]
    });

    continent_stacked_query.request({from: <%= @from.html_safe %>, till: <%= @till.html_safe %>});

    rr.change(function(start, end, clear){
        continent_stacked_query.request({from: start, till: end});
    })

</script>