<div class='row'>
  <div class='col-12 col-lg-12 mb-4'>
    <div class='card' id='LatestInboundTransfers'></div>
  </div>
</div>
<div class='row mb-4'>
  <div class='col-12 col-lg-6'>
    <div class='card' id='InboundTransfersInNativeCurrency'></div>
  </div>
  <div class='col-12 col-lg-6'>
    <div class='card' id='InboundTransfersInTokens'></div>
  </div>
</div>
<div class='row mb-4'>
  <div class='col-12 col-lg-6'>
    <div class='card' id='TopSendersInNativeCurrency'></div>
  </div>
  <div class='col-12 col-lg-6'>
    <div class='card' id='TopSendersInTokens'></div>
  </div>
</div>
<script>
    class LatestInboundTransfers extends BootstrapTableComponent {
        configuration() {
            return {
                topElement: function (response) {
                    return response.EVM.Transfers
                },
                chainId: function (response) {
                    return response.EVM.Transfers[0].ChainId
                },
                columns: [
                    {
                        name: 'Timestamp', cell: function (row) {
                            return row.Block.Time
                        }, rendering: renderDate,
                    },
                    {
                        name: 'Block', cell: function (row) {
                            return row.Block.Number
                        }, rendering: renderBlockLink,
                    },
                    {
                        name: 'Sender', cell: function (row) {
                            return row.Transfer.Sender
                        }, rendering: renderAddressLink,
                    },
                    {
                        name: '', cell: function (row) {
                            return ''
                        }, rendering: renderSenderRecieverIcon, headerStyle: {width: '50px'},
                    },
                    {
                        name: 'Amount', cell: function (row) {
                            return row.sum
                        }, rendering: renderNumbers, headerStyle: {textAlign: 'end'},
                    },
                    {
                        name: 'Currency', cell: function (row) {
                            return {
                                currency: row.Transfer.Currency.Symbol,
                                smartContract: row.Transfer.Currency.SmartContract
                            }
                        }, rendering: renderTokenLink,
                    },
                    {
                        name: 'Transaction', cell: function (row) {
                            return row.Transaction.Hash
                        }, rendering: renderTX,
                    },

                ]
            }
        }
    }

    class InboundTransfersInNativeCurrency extends TimeChartComponent {
        configuration() {
            return {
                topElement: function (response) {
                    return response.EVM.Transfers
                },
                chainId: function (response) {
                    return response.EVM.Transfers[0].ChainId
                },
                columns: [
                    {
                        name: 'Date', cell: function (row) {
                            return row.Block.Date
                        }
                    },
                    {
                        name: 'Volume', cell: function (row) {
                            return +row.sum
                        }
                    }
                ],
                options: {
                    height: 300,
                    colors: ['28A745'],
                }
            }
        }
    }

    class InboundTransfersInTokens extends TimeChartComponent {
        configuration() {
            return {
                topElement: function (response) {
                    return response.EVM.Transfers
                },
                chainId: function (response) {
                    return response.EVM.Transfers[0].ChainId
                },
                columns: [
                    {
                        name: 'Date', cell: function (row) {
                            return row.Block.Date
                        }
                    },
                    {
                        name: 'Receive count', cell: function (row) {
                            return +row.count
                        }
                    }
                ],
                options: {
                    height: 300,
                    colors: ['FFC106'],
                }
            }
        }
    }

    class TopSendersInNativeCurrency extends BootstrapTableComponent {
        configuration() {
            return {
                topElement: function (response) {
                    return response.EVM.Transfers
                },
                chainId: function (response) {
                    return response.EVM.Transfers[0].ChainId
                },
                columns: [
                    {
                        name: 'Sender', cell: function (row) {
                            return row.Transfer.Sender
                        }, rendering: renderAddressLink,
                    },
                    {
                        name: 'Amount', cell: function (row) {
                            return row.Transfer.Amount
                        }, rendering: renderNumbers, headerStyle: {textAlign: 'end'},
                    },
                    {
                        name: 'Currency', cell: function (row) {
                            return row.Transfer.Currency.Symbol
                        },
                    },
                    {
                        name: 'Latest Date', cell: function (row) {
                            return row.Block.Date
                        },
                    },
                    {
                        name: 'Transaction Hash', cell: function (row) {
                            return row.Transaction.Hash
                        }, rendering: renderTX,
                    },
                ]
            }
        }
    }

    class TopSendersInTokens extends BootstrapTableComponent {
        configuration() {
            return {
                topElement: function (response) {
                    return response.EVM.Transfers
                },
                chainId: function (response) {
                    return response.EVM.Transfers[0].ChainId
                },
                columns: [
                    {
                        name: 'Sender', cell: function (row) {
                            return row.Transfer.Sender
                        }, rendering: renderAddressLink,
                    },
                    {
                        name: 'Amount', cell: function (row) {
                            return row.Transfer.Amount
                        }, rendering: renderNumbers, headerStyle: {textAlign: 'end'},
                    },
                    {
                        name: 'Currency', cell: function (row) {
                            return {
                                currency: row.Transfer.Currency.Symbol,
                                smartContract: row.Transfer.Currency.SmartContract
                            }
                        }, rendering: renderTokenLink,
                    },
                    {
                        name: 'Latest Date', cell: function (row) {
                            return row.Block.Date
                        },
                    },
                    {
                        name: 'Transaction Hash', cell: function (row) {
                            return row.Transaction.Hash
                        }, rendering: renderTX,
                    },
                ]
            }
        }
    }

    const variables = {
        network: '<%= @streaming%>',
        address: '<%= @address %>',
    }
    renderComponent(LatestInboundTransfers, '#LatestInboundTransfers', 'Latest-Inbound-Transfers_1_1', variables);
    renderWithTime(variables, <%= limited_date_range_limit(@from, @till).join(',').html_safe %>, function f(variables) {
        renderComponent(InboundTransfersInNativeCurrency, '#InboundTransfersInNativeCurrency', 'Inbound-transfers-in-native-currency_1', variables);
        renderComponent(InboundTransfersInTokens, '#InboundTransfersInTokens', 'Inbound-transfers-in-tokens', variables);
        renderComponent(TopSendersInNativeCurrency, '#TopSendersInNativeCurrency', 'Top-Senders-in-native-currency_1', variables);
        renderComponent(TopSendersInTokens, '#TopSendersInTokens', 'Top-Senders-in-tokens', variables);
    })
</script>
