<div class='row'>
  <div class='col-12 col-lg-12 mb-4'>
    <div class='card' id='LatestOutboundTransfers'></div>
  </div>
</div>
<div class='row mb-4'>
  <div class='col-12 col-xl-6'>
    <div class='card' id='OutboundTransfersInNativeCurrency'></div>
  </div>
  <div class='col-12 col-xl-6'>
    <div class='card' id='OutboundTransfersInTokens'></div>
  </div>
</div>
<div class='row mb-4'>
  <div class='col-12 col-xl-6'>
    <div class='card' id='TopReceiversInNativeCurrency'></div>
  </div>
  <div class='col-12 col-xl-6'>
    <div class='card' id='TopReceiversInTokens'></div>
  </div>
</div>
<script>
    class LatestOutboundTransfers extends BootstrapTableComponent {
        configuration() {
            return {
                topElement: function (response) {
                    return response.EVM.Transfers
                },
                chainId: function (response) {
                    return response.EVM.Transfers[0].ChainId
                },
                columns: [
                    {
                        name: 'Timestamp', cell: function (row) {
                            return row.Block.Time
                        }, rendering: renderDate,
                    },
                    {
                        name: 'Block', cell: function (row) {
                            return row.Block.Number
                        }, rendering: renderBlockLink, headerStyle: {width: '110px'},
                    },
                    {
                        name: 'Sender', cell: function (row) {
                            return row.Transfer.Sender
                        }, rendering: renderAddressLink,headerStyle: {width: '25%'},
                    },
                    {
                        name: 'Amount', cell: function (row) {
                            return row.sum
                        }, rendering: renderNumbers, headerStyle: {textAlign: 'end'},
                    },
                    {
                        name: 'Currency', cell: function (row) {
                            return {
                                currency: row.Transfer.Currency.Symbol,
                                smartContract: row.Transfer.Currency.SmartContract
                            }
                        }, rendering: renderTokenLink,
                    },
                    {
                        name: 'Transaction hash', cell: function (row) {
                            return row.Transaction.Hash
                        }, rendering: renderTX, headerStyle: {width: '136px'},
                    },

                ]
            }
        }
    }

    class OutboundTransfersInNativeCurrency extends TimeChartComponent {
        configuration() {
            return {
                topElement: function (response) {
                    return response.EVM.Transfers
                },
                chainId: function (response) {
                    return response.EVM.Transfers[0].ChainId
                },
                columns: [
                    {
                        name: 'Date', cell: function (row) {
                            return row.Block.Date
                        }
                    },
                    {
                        name: 'Volume', cell: function (row) {
                            return +row.sum
                        }
                    }
                ],
                options: {
                    height: 300,
                    colors: ['28A745'],
                }
            }
        }
    }

    class OutboundTransfersInTokens extends TimeChartComponent {
        configuration() {
            return {
                topElement: function (response) {
                    return response.EVM.Transfers
                },
                chainId: function (response) {
                    return response.EVM.Transfers[0].ChainId
                },
                columns: [
                    {
                        name: 'Date', cell: function (row) {
                            return row.Block.Date
                        }
                    },
                    {
                        name: 'Receive count', cell: function (row) {
                            return +row.count
                        }
                    }
                ],
                options: {
                    height: 300,
                    colors: ['FFC106'],
                }
            }
        }
    }

    class TopReceiversInNativeCurrency extends BootstrapTableComponent {
        configuration() {
            return {
                topElement: function (response) {
                    return response.EVM.Transfers
                },
                chainId: function (response) {
                    return response.EVM.Transfers[0].ChainId
                },
                columns: [
                    {
                        name: 'Receiver', cell: function (row) {
                            return row.Transfer.Receiver
                        }, rendering: renderAddressLink, headerStyle: {width: '30%'},
                    },
                    {
                        name: 'Amount', cell: function (row) {
                            return row.Transfer.Amount
                        }, rendering: renderNumbers, headerStyle: {textAlign: 'end'},
                    },
                    {
                        name: 'Currency', cell: function (row) {
                            return row.Transfer.Currency.Symbol
                        },
                    },
                    {
                        name: 'Latest Date', cell: function (row) {
                            return row.Block.Date
                        },
                    },
                    {
                        name: 'Transaction hash', cell: function (row) {
                            return row.Transaction.Hash
                        }, rendering: renderTX, headerStyle: {width: '136px'},
                    },
                ]
            }
        }
    }

    class TopReceiversInTokens extends BootstrapTableComponent {
        configuration() {
            return {
                topElement: function (response) {
                    return response.EVM.Transfers
                },
                chainId: function (response) {
                    return response.EVM.Transfers[0].ChainId
                },
                columns: [
                    {
                        name: 'Receiver', cell: function (row) {
                            return row.Transfer.Receiver
                        }, rendering: renderAddressLink, headerStyle: {width: '30%'},
                    },
                    {
                        name: 'Amount', cell: function (row) {
                            return row.Transfer.Amount
                        }, rendering: renderNumbers, headerStyle: {textAlign: 'end'},
                    },
                    {
                        name: 'Currency', cell: function (row) {
                            return {
                                currency: row.Transfer.Currency.Symbol,
                                smartContract: row.Transfer.Currency.SmartContract
                            }
                        }, rendering: renderTokenLink,
                    },
                    {
                        name: 'Latest Date', cell: function (row) {
                            return row.Block.Date
                        },
                    },
                    {
                        name: 'Transaction hash', cell: function (row) {
                            return row.Transaction.Hash
                        }, rendering: renderTX, headerStyle: {width: '136px'},
                    },
                ]
            }
        }
    }

    const variables = {
        network: '<%= @streaming%>',
        address: '<%= @address %>',
        till: new Date().toISOString().slice(0, 10),
        from: (new Date((new Date()).setDate((new Date()).getDate() - 5))).toISOString().slice(0, 10)
    }
    renderWithTime(variables, <%= limited_date_range_limit(@from, @till).join(',').html_safe %>, function f(variables) {
        renderComponent([[LatestOutboundTransfers, '#LatestOutboundTransfers']], 'Latest-Outbound-Transfers_1', variables);
        renderComponent([[OutboundTransfersInNativeCurrency, '#OutboundTransfersInNativeCurrency']], 'Outbound-transfers-in-native-currency_3', variables);
        renderComponent([[OutboundTransfersInTokens, '#OutboundTransfersInTokens']], 'Outbound-transfers-in-tokens', variables);
        renderComponent([[TopReceiversInNativeCurrency, '#TopReceiversInNativeCurrency']], 'Top-Receivers-in-native-currency_1', variables);
        renderComponent([[TopReceiversInTokens, '#TopReceiversInTokens']], 'Top-Receivers-in-tokens', variables);
    })

</script>
