<%= render partial: 'binance/address/orders/orders_table' %>

<div class="row">
  <%= render partial: 'binance/address/orders/orders_by_time' %>
  <%= render partial: 'binance/address/orders/orders_by_currencies' %>
</div>
