
<div class="row">
  <%= render partial: 'binance/address/in_out_transfers_by_time' %>
  <%= render partial: 'binance/address/currencies_table' %>
</div>

<div class="row">
  <%= render partial: 'binance/address/trades_by_time' %>
  <%= render partial: 'binance/address/trades_by_pairs' %>
</div>