<%= render partial: 'binance/address/trades_table' %>

<div class="row">
  <%= render partial: 'binance/address/trades_by_time' %>
  <%= render partial: 'binance/address/trades_by_currencies' %>
</div>

<%= render partial: 'binance/address/trades_by_pairs' %>
