@import "daterangepicker_dark";

.search-form-type {
  cursor: pointer;
}

.search{
  margin-top: 2rem;
}

#reportrange{
  display: inline-block;
  background: #fff;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.header-title{
  line-height: 2rem;
}

body.dark{
  background-color: #57626b;
  color: #d6d6d6;


  input, input:focus, select, select:focus{
    background-color: #434e57;
    border-color: #758591;
    color: #d6d6d6;
  }

  a:not(.dropdown-item), .more-text a:not([href]):not([tabindex]).more-link{
    color: #a1c9d7;
    &:hover{
      color: #afdae8;
    }
  }
  a.badge{
    color: #fff;

    &:hover{
      color: #fff;
    }
  }


  .btn{
    color: #fff;
    .btn-default{
    }
  }

  .card{
    color: #d6d6d6;
    background: #434e57;
    border: 1px solid #434e57;

    .card-header{
      background-color: #343d46;
    }
  }
}