<div class="row">
  <div class="col-12 col-lg-12 mb-4">
    <div id="DEXProtocolNFTTokenTradesByDate" class="card"></div>
  </div>
</div>
<div class='row'>
  <div class='col-12 col-lg-12 mb-4'>
    <div id='DEXSmartContracts' class='card'></div>
  </div>
</div>
<script>
    class DEXProtocolNFTTokenTradesByDate extends TimeChartComponent {
        configuration() {
            return {
                topElement: function (response) {
                    return response.EVM.DEXTrades
                },
                chainId: function (response) {
                    return response.EVM.DEXTrades[0].ChainId
                },
                columns: [
                    {
                        name: 'Date', cell: function (row) {
                            return row.Block.Date
                        }
                    },
                    {
                        name: 'Count', cell: function (row) {
                            return +row.count
                        }
                    }
                ],
                options: {
                    title: 'Trades By Date',
                    height: 300
                }
            }
        }
    }


    class DEXSmartContracts extends BootstrapTableComponent {
        configuration() {
            return {
                topElement: function (response) {
                    return response.EVM.DEXTrades
                },
                chainId: function (response) {
                    return response.EVM.DEXTrades[0].ChainId
                },
                columns: [
                    {
                        name: 'Smart Contract', cell: function (row) {
                            return row.Trade.Dex.SmartContract
                        }, rendering: renderJustAddressLink, headerStyle: {width: '30%'},
                    },
                    {
                        name: 'Protocol', cell: function (row) {
                            return {
                                ProtocolFamily: row.Trade.Dex.ProtocolFamily,
                                ProtocolName: row.Trade.Dex.ProtocolName,
                                ProtocolVersion: row.Trade.Dex.ProtocolVersion
                            }
                        }, rendering: renderDexProtocolLink,
                    },
                    {
                        name: 'Trades', cell: function (row) {
                            return row.trades
                        },
                    },
                    {
                        name: 'Currencies', cell: function (row) {
                            return row.currencies
                        },
                    },


                ]
            }
        }
    }
    const variables = {
        network: '<%= @streaming%>',
        protocol: '<%= @protocol %>',
    }
    renderWithTime(variables, <%= limited_date_range_limit(@from, @till).join(',').html_safe %>, function f(variables) {
        renderComponent([[DEXProtocolNFTTokenTradesByDate, "#DEXProtocolNFTTokenTradesByDate"]], 'DEX-Protocol-NFT-Token-Trades-By-Date_1', variables);
        renderComponent([[DEXSmartContracts, '#DEXSmartContracts']], 'DEX-Smart-Contracts', variables);
    })
</script>
