<div class='row'>
  <div class='col-12 col-lg-12 mb-4'>
    <div id='TradesByPairs' class='card'></div>
  </div>
</div>
<script>
    class TradesByPairs extends BootstrapTableComponent {
        configuration() {
            return {
                topElement: response => response.EVM.DEXTrades,
                chainId: response => response.EVM.DEXTrades[0]?.ChainId,
                title: () => 'Trades by Pairs',
                id: 'TradesByPairs',
                columns: [
                    {
                        name: 'Pair', cell: row => ({
                            buyCurrencySymbol: row.Trade.Buy.Currency.Symbol,
                            buyCurrencySC: row.Trade.Buy.Currency.SmartContract,
                            sellCurrencySymbol: row.Trade.Sell.Currency.Symbol,
                            sellCurrencySC: row.Trade.Sell.Currency.SmartContract,
                        }),
                        rendering: renderPairLink,
                    },
                    {
                        name: 'Trades', cell: row => row.count,
                        headerStyle: {width: '100px'},
                    },
                    {
                        name: 'Buy Amount', cell: row => row.buy_amount,
                        rendering: renderNumbers, headerStyle: {textAlign: 'end'}
                    },
                    {
                        name: 'Mdn Buy Price', cell: row => row.buy_amount,
                        rendering: renderNumbers, headerStyle: {textAlign: 'end'}
                    },
                    {
                        name: '', cell: row=> '',rendering: renderSenderRecieverIcon, headerStyle: {width: '50px'},
                    },
                    {
                        name: 'Sell Amount', cell: row => row.sell_amount,
                        rendering: renderNumbers, headerStyle: {textAlign: 'end'}
                    },
                    {
                        name: 'Mdn Sell Price', cell: row => row.sell_price,
                        rendering: renderNumbers, headerStyle: {textAlign: 'end'}
                    },
                    {
                        name: 'Started', cell: row => row.Block.Date, headerStyle: {width: '100px'},
                    },
                    {
                        name: 'Days traded', cell: row => row.uniq,
                        rendering: renderNumbers, headerStyle: {textAlign: 'end', width: '100px'},
                    },
                ]
            }
        }
    }
    const variables = {
        network: '<%= @streaming%>',
        protocol: '<%= @protocol%>',
    }
    renderWithTime(variables, <%= limited_date_range_limit(@from, @till).join(',').html_safe %>, function f(variables) {
        renderComponent('<%=@streaming_access_token %>', [[TradesByPairs, '#TradesByPairs']], 'Token-Trade-Pairs-bu-Protocol_1', variables);
    });
</script>