<%= render partial: "cardano/address/inbound/inbound_transfers" %>

<div class="row">
  <%= render partial: "cardano/address/inbound/inbound_by_time" %>
  <%= render partial: "cardano/address/inbound/inbound_by_type" %>
</div>

<div class="row">
  <%= render partial: "cardano/address/inbound/inbound_top" %>
</div>