<div class="row">
  <%= render 'stellar/block/partials/transactions_count' %>
  <%= render 'stellar/block/partials/transactions_success_count' %>
  <%= render 'stellar/block/partials/transactions_failed_count' %>
</div>

<%= render partial: 'stellar/block/partials/latest_transactions' %>
