<% content_for :title, t( "tabs.#{controller_name}.#{params[:action]}.title", network: @network[:name]) %>
<% content_for :description, t( "tabs.#{controller_name}.#{params[:action]}.description", network: @network[:name]) %>

<div class="row search mb-2">
  <div class="col-12 col-lg">
    <h6 class="mt-2 word-wrap">
      <%= network_icon @network %>
      <%= t( "tabs.#{controller_name}.#{params[:action]}.header", network: @network[:name]) %></h6>
  </div>

  <div class="col-12 col-lg-auto">
    <%= render partial: 'shared/reportrange' %>
  </div>
</div>
