<div class="row">
  <%= render partial: 'binance/network/orders/orders_by_time' %>
  <%= render partial: 'binance/network/orders/orders_by_currencies' %>
</div>
<%= render partial: 'binance/network/orders/orders_table' %>