<div class="row">
  <%= render partial: 'binance/network/trades/trades_by_time' %>
  <%= render partial: 'binance/network/trades/trades_by_currencies' %>
</div>
<%= render partial: 'binance/network/trades/trades_currencies' %>
<%= render partial: 'binance/network/trades/trades_table' %>