<div class="row">
  <%= render partial: 'binance/network/transactions_by_time' %>
  <%= render partial: 'binance/network/transactions_by_types' %>

</div>

<%= render partial: 'binance/network/transactions_table' %>