<%= render partial: 'binance/network/transactions/transactions_table' %>
<div class="row">
  <%= render partial: 'binance/network/transactions/transactions_by_time' %>
  <%= render partial: 'binance/network/transactions/transactions_by_types' %>
</div>

