<div class="row">
  <%= render partial: 'stellar/address/partials/currencies_sent_table' %>
  <%= render partial: 'stellar/address/partials/currencies_received_table' %>
  <%= render partial: 'stellar/address/partials/in_out_transfers_by_time' %>
</div>

