<div class="row">
  <%= render partial: 'stellar/address/currencies_sent_table' %>
  <%= render partial: 'stellar/address/currencies_received_table' %>
  <%= render partial: 'stellar/address/in_out_transfers_by_time' %>
</div>

