<div class='row mb-4'>
  <div class='col-12 col-xl-6'>
    <div class='card' id='Smart-Contracts-By-Date'></div>
  </div>
  <div class='col-12 col-xl-6'>
    <div class='card' id='UniqueSmartContracts'></div>
  </div>
</div>
<div class='row mb-4'>
  <div class='col-12 col-xl-6'>
    <div class='card' id='SmartContractsCallers'></div>
  </div>
  <div class='col-12 col-xl-6'>
    <div class='card' id='SmartContractsMethods'></div>
  </div>
</div>
<div class='row'>
  <div class='col-12 col-lg-12 mb-4'>
    <div id='SubLatestSmartContractCalls' class='card'></div>
  </div>
</div>
<script>
    class SmartContractsByDate extends TimeChartComponent {
        configuration() {
            return {
                topElement: response => response.EVM.Calls,
                chainId: response => response.EVM.Calls[0].ChainId,
                title: () => 'Smart contract calls ( including internal ) by date',
                id: 'SmartContractsByDate',
                columns: [
                    {
                        name: 'Date', cell: row => row.Block.Date,
                    },
                    {
                        name: 'Calls Count', cell: row => +row.count,
                    }
                ],
                options: {
                    height: 300,
                    theme: 'material',
                    colors: ['FFC106'],
                    legend: {position: "top"},
                }
            }
        }
    }

    class UniqueSmartContracts extends TimeChartComponent {
        configuration() {
            return {
                topElement: response => response.EVM.Calls,
                chainId: response => response.EVM.Calls[0].ChainId,
                title: () => 'Unique Smart Contracts',
                id: 'UniqueSmartContracts',
                columns: [
                    {
                        name: 'Date', cell: row => row.Block.Date,
                    },
                    {
                        name: 'Unique Contracts', cell: row => +row.contracts,
                    }
                ],
                options: {
                    height: 300,
                    theme: 'material',
                    colors: ['28A745'],
                    legend: {position: "top"},
                }
            }
        }
    }

    class SmartContractsCallers extends TimeChartComponent {
        configuration() {
            return {
                topElement: response => response.EVM.Calls,
                chainId: response => response.EVM.Calls[0].ChainId,
                title: () => 'Unique Callers by time',
                id: 'SmartContractsCallers',
                columns: [
                    {
                        name: 'Date', cell: row => row.Block.Date,
                    },
                    {
                        name: 'Uniq Callers', cell: row => +row.callers,
                    }
                ],
                options: {
                    height: 300,
                    theme: 'material',
                    colors: ['28A745'],
                    legend: {position: "top"},
                }
            }
        }
    }

    class SmartContractsMethods extends TimeChartComponent {
        configuration() {
            return {
                topElement: response => response.EVM.Calls,
                chainId: response => response.EVM.Calls[0].ChainId,
                title: () => 'Unique Smart Contracts Methods Called',
                id: 'SmartContractsMethods',
                columns: [
                    {
                        name: 'Date', cell: row => row.Block.Date,
                    },
                    {
                        name: 'Uniq Methods', cell: row => +row.methods,
                    }
                ],
                options: {
                    height: 300,
                    theme: 'material',
                    colors: ['FFC106'],
                    legend: {position: "top"},
                }
            }
        }
    }

    class SubLatestSmartContractCalls extends BootstrapTableComponent {
        configuration() {
            return {
                topElement: response => response.EVM.Calls,
                chainId: response => response.EVM.Calls[0].ChainId,
                columns: [
                    {
                        name: 'Timestamp', cell: row => row.Block.Time,
                        rendering: renderDate,
                    },
                    {
                        name: 'Block', cell: row => row.Block.Number,
                        rendering: renderBlockLink, headerStyle: {width: '110px'},
                    },
                    {
                        name: 'Caller', cell: row => row.Call.From,
                        rendering: renderJustAddressLink,
                    },
                    {
                        name: 'Smart Contract', cell: row => row.Call.To,
                        rendering: renderJustAddressLink,
                    },
                    {
                        name: 'Method',
                        cell: row => ({
                            method: row.Call.Signature.Name,
                            hash: row.Call.Signature.SignatureHash,
                            value: row.Call.Value
                        }),
                        rendering: renderMethodLink, headerStyle: {width: '120px'},
                    },
                    {
                        name: 'Hash', cell: row => row.Transaction.Hash,
                        rendering: renderTX, headerStyle: {width: '110px'},
                    },
                ]
            }
        }
    }

    const variables = {
        network: '<%= @streaming%>',
        till: new Date().toISOString().slice(0, 10),
        from: (new Date((new Date()).setDate((new Date()).getDate() - 4))).toISOString().slice(0, 10)
    };
    renderWithTime(variables, <%= limited_date_range_limit(@from, @till).join(',').html_safe %>, function f(variables) {
        renderComponent('<%=@streaming_access_token %>', [
            [SmartContractsByDate, '#Smart-Contracts-By-Date'],
            [UniqueSmartContracts, '#UniqueSmartContracts'],
            [SmartContractsCallers, '#SmartContractsCallers'],
            [SmartContractsMethods, '#SmartContractsMethods']
        ], 'Smart-Contracts_1_1', variables);
        renderComponent('<%=@streaming_access_token %>', [[SubLatestSmartContractCalls, '#SubLatestSmartContractCalls']], 'Latest-Smart-Contract-Calls_2', variables, 'Subscription-Latest-Smart-Contract-Calls');
    });
</script>
