<div class='row mb-4'>
  <div class='col-12 col-lg-6'>
    <div class='card' id='Smart-Contracts-By-Date'></div>
  </div>
  <div class='col-12 col-lg-6'>
    <div class='card' id='UniqueSmartContracts'></div>
  </div>
</div>
<div class='row mb-4'>
  <div class='col-12 col-lg-6'>
    <div class='card' id='SmartContractsCallers'></div>
  </div>
  <div class='col-12 col-lg-6'>
    <div class='card' id='SmartContractsMethods'></div>
  </div>
</div>
<div class='row'>
  <div class='col-12 col-lg-12 mb-4'>
    <div id='LatestSmartContractCalls' class='card'></div>
  </div>
</div>
<div class='row'>
  <div class='col-12 col-lg-12 mb-4'>
    <div id='SubLatestSmartContractCalls' class='card'></div>
  </div>
</div>
<script>
    class SmartContractsByDate extends TimeChartComponent {
        configuration() {
            return {
                topElement: function (response) {
                    return response.EVM.Calls
                },
                chainId: function (response) {
                    return response.EVM.Calls[0].ChainId
                },
                title: 'Smart contract calls ( including internal ) by date',
                columns: [
                    {
                        name: 'Date', cell: function (row) {
                            return row.Block.Date
                        }
                    },
                    {
                        name: 'Calls Count', cell: function (row) {
                            return +row.count
                        }
                    }
                ],
                options: {
                    height: 300,
                    colors: ['FFC106'],
                }
            }
        }
    }

    class UniqueSmartContracts extends TimeChartComponent {
        configuration() {
            return {
                topElement: function (response) {
                    return response.EVM.Calls
                },
                chainId: function (response) {
                    return response.EVM.Calls[0].ChainId
                },
                title: 'Unique Smart Contracts',
                columns: [
                    {
                        name: 'Date', cell: function (row) {
                            return row.Block.Date
                        }
                    },
                    {
                        name: 'Unique Contracts', cell: function (row) {
                            return +row.contracts
                        }
                    }
                ],
                options: {
                    height: 300,
                    colors: ['28A745'],
                }
            }
        }
    }

    class SmartContractsCallers extends TimeChartComponent {
        configuration() {
            return {
                topElement: function (response) {
                    return response.EVM.Calls
                },
                chainId: function (response) {
                    return response.EVM.Calls[0].ChainId
                },
                title: 'Unique Callers by time',
                columns: [
                    {
                        name: 'Date', cell: function (row) {
                            return row.Block.Date
                        }
                    },
                    {
                        name: 'Uniq Callers', cell: function (row) {
                            return +row.callers
                        }
                    }
                ],
                options: {
                    height: 300,
                    colors: ['28A745'],
                }
            }
        }
    }

    class SmartContractsMethods extends TimeChartComponent {
        configuration() {
            return {
                topElement: function (response) {
                    return response.EVM.Calls
                },
                chainId: function (response) {
                    return response.EVM.Calls[0].ChainId
                },
                title: 'Unique Smart Contracts Methods Called',
                columns: [
                    {
                        name: 'Date', cell: function (row) {
                            return row.Block.Date
                        }
                    },
                    {
                        name: 'Uniq Methods', cell: function (row) {
                            return +row.methods
                        }
                    }
                ],
                options: {
                    height: 300,
                    colors: ['FFC106'],
                }
            }
        }
    }

    class LatestSmartContractCalls extends BootstrapTableComponent {
        configuration() {
            return {
                topElement: function (response) {
                    return response.EVM.Calls
                },
                chainId: function (response) {
                    return response.EVM.Calls[0].ChainId
                },
                columns: [
                    {
                        name: 'Timestamp', cell: function (row) {
                            return row.Block.Time
                        }, rendering: renderDate,
                    },
                    {
                        name: 'Block', cell: function (row) {
                            return row.Block.Number
                        }, rendering: renderBlockLink,
                    },
                    {
                        name: 'Caller', cell: function (row) {
                            return row.Call.From
                        }, rendering: renderSmartContractLink,
                    },
                    {
                        name: 'Smart Contract', cell: function (row) {
                            return row.Call.To
                        }, rendering: renderSmartContractLink,
                    },
                    {
                        name: 'Method', cell: function (row) {
                            return {method: row.Call.Signature.Name, hash: row.Call.Signature.SignatureHash}
                        }, rendering: renderMethodLink,

                    },
                    {
                        name: 'Hash', cell: function (row) {
                            return row.Transaction.Hash
                        }, rendering: renderTX,
                    },
                ]
            }
        }
    }

    class SubLatestSmartContractCalls extends BootstrapTableComponent {
        configuration() {
            return {
                topElement: function (response) {
                    return response.EVM.Calls
                },
                chainId: function (response) {
                    return response.EVM.Calls[0].ChainId
                },
                columns: [
                    {
                        name: 'Timestamp', cell: function (row) {
                            return row.Block.Time
                        }, rendering: renderDate,
                    },
                    {
                        name: 'Block', cell: function (row) {
                            return row.Block.Number
                        }, rendering: renderBlockLink,
                    },
                    {
                        name: 'Caller', cell: function (row) {
                            return row.Call.From
                        }, rendering: renderSmartContractLink,
                    },
                    {
                        name: 'Smart Contract', cell: function (row) {
                            return row.Call.To
                        }, rendering: renderSmartContractLink,
                    },
                    {
                        name: 'Method', cell: function (row) {
                            return {method: row.Call.Signature.Name, hash: row.Call.Signature.SignatureHash}
                        }, rendering: renderMethodLink,

                    },
                    {
                        name: 'Hash', cell: function (row) {
                            return row.Transaction.Hash
                        }, rendering: renderTX,
                    },
                ]
            }
        }
    }

    const variables = {
        network: '<%= @streaming%>',
        till: new Date().toISOString().slice(0, 10),
        from: (new Date((new Date()).setDate((new Date()).getDate() - 1))).toISOString().slice(0, 10)
    };
    renderWithTime(variables, <%= limited_date_range_limit(@from, @till).join(',').html_safe %>, function f(variables) {
        renderComponent(SmartContractsByDate, '#Smart-Contracts-By-Date', 'Smart-Contracts_1_1', variables);
        renderComponent(UniqueSmartContracts, '#UniqueSmartContracts', 'Smart-Contracts_1_1', variables);
        renderComponent(SmartContractsCallers, '#SmartContractsCallers', 'Smart-Contracts_1_1', variables);
        renderComponent(SmartContractsMethods, '#SmartContractsMethods', 'Smart-Contracts_1_1', variables);
    });
    renderComponent(LatestSmartContractCalls, '#LatestSmartContractCalls', 'Latest-Smart-Contract-Calls_1_1_1', variables);
    renderComponent(SubLatestSmartContractCalls, '#SubLatestSmartContractCalls', 'Latest-Smart-Contract-Calls_1_1_1', variables, 'Subscription-Latest-Smart-Contract-Calls');
</script>
