<div class="row">
  <%= render partial: 'ethereum_streaming/network/traded_currencies_by_time' %>
  <%= render partial: 'ethereum_streaming/network/traded_currencies_table' %>
</div>

<%= render partial: 'ethereum_streaming/network/traded_pairs_table' %>