<div class='row mb-4'>
  <div class='col-12 col-lg-6'>
    <div class='card' id='MinersBlockCountByTime'></div>
  </div>
  <div class='col-12 col-lg-6'>
    <div class='card' id='MinersBlockCountByTimeTable'></div>
  </div>
</div>
<div class='row mb-4'>
  <div class='col-12 col-lg-6'>
    <div class='card' id='MinersBlockRewardByTime'></div>
  </div>
  <div class='col-12 col-lg-6'>
    <div class='card' id='MinersBlockRewardByTimeTable'></div>
  </div>
</div>
<script>
    class MinersBlockCountByTime extends TimeChartComponent {
        configuration() {
            return {
                topElement: function (response) {
                    return response.EVM.MinerRewards
                },
                chainId: function (response) {
                    return response.EVM.MinerRewards[0].ChainId
                },
                columns: [
                    {
                        name: 'Date', cell: function (row) {
                            return row.Block.Date
                        }
                    },
                    {
                        name: function (row) {
                            return row.Block.Coinbase
                        }, cell: function (row) {
                            return +row.count
                        }
                    },
                ],
                options: {
                    title: 'Miners Block Count',
                    isStacked: true,
                    theme: 'material',
                    height: 405
                }
            }
        }
    }

    class MinersBlockCountByTimeTable extends BootstrapTableComponent {
        configuration() {
            return {
                topElement: function (response) {
                    return response.EVM.MinerRewards
                },
                chainId: function (response) {
                    return response.EVM.MinerRewards[0].ChainId
                },
                columns: [
                    {
                        name: 'Date', cell: function (row) {
                            return row.Block.Date
                        },
                    },
                    {
                        name: 'Miner', cell: function (row) {
                            return row.Block.Coinbase
                        }, rendering: renderJustAddressLink
                    },
                    {
                        name: 'Count', cell: function (row) {
                            return row.count
                        }, rendering: renderNumbers, headerStyle: {textAlign: 'end'},
                    },
                ]
            }
        }
    }

    class MinersBlockRewardByTime extends TimeChartComponent {
        configuration() {
            return {
                topElement: function (response) {
                    return response.EVM.MinerRewards
                },
                chainId: function (response) {
                    return response.EVM.MinerRewards[0].ChainId
                },
                columns: [
                    {
                        name: 'Date', cell: function (row) {
                            return row.Block.Date
                        }
                    },
                    {
                        name: function (row) {
                            return row.Block.Coinbase
                        }, cell: function (row) {
                            return +row.sum
                        }
                    },
                ],
                options: {
                    title: 'Miners Block Reward',
                    isStacked: true,
                    theme: 'material',
                    height: 405
                }
            }
        }
    }

    class MinersBlockRewardByTimeTable extends BootstrapTableComponent {
        configuration() {
            return {
                topElement: function (response) {
                    return response.EVM.MinerRewards
                },
                chainId: function (response) {
                    return response.EVM.MinerRewards[0].ChainId
                },
                columns: [
                    {
                        name: 'Date', cell: function (row) {
                            return row.Block.Date
                        },
                    },
                    {
                        name: 'Miner', cell: function (row) {
                            return row.Block.Coinbase
                        }, rendering: renderJustAddressLink
                    },
                    {
                        name: 'Reward', cell: function (row) {
                            return row.sum
                        },
                    },
                ]
            }
        }
    }

    const variables = {
        network: '<%= @streaming%>',
        offset: 0,
    };

    renderWithTime(variables, <%= limited_date_range_limit(@from, @till).join(',').html_safe %>, function f(variables) {
        renderComponent(MinersBlockCountByTime, '#MinersBlockCountByTime', 'Miners-Block-Count-By-Time_1_1_1_1_1', variables);
        renderComponent(MinersBlockCountByTimeTable, '#MinersBlockCountByTimeTable', 'Miners-Block-Count-By-Time_1_1', variables);
        renderComponent(MinersBlockRewardByTime, '#MinersBlockRewardByTime', 'Miners-Block-Count-By-Time_1_1_1_1_1', variables);
        renderComponent(MinersBlockRewardByTimeTable, '#MinersBlockRewardByTimeTable', 'Miners-Block-Count-By-Time_1_1_1_1_1_1_1_1', variables);
    })
</script>
