<div class='row'>
  <div class='col-12 col-lg-12 mb-4'>
    <div id='TransfersByCurrencies' class='card'></div>
  </div>
</div>
<script>
    class TransfersByCurrencies extends BootstrapTableComponent {
        configuration() {
            return {
                topElement: response => response.EVM.Transfers,
                chainId: response => response.EVM.Transfers[0]?.ChainId,
                title: () => 'Transfer Token by count',
                id: 'TransfersByCurrencies',
                columns: [
                    {
                        name: 'Currency', cell: row => ({
                            currency: row.Transfer.Currency.Symbol,
                            smartContract: row.Transfer.Currency.SmartContract
                        }),
                        rendering: renderTokenLink, headerStyle: {width: '210px'},
                    },
                    {
                        name: 'Uniq Senders', cell: row => row.senders,
                        rendering: renderNumbers, headerStyle: {textAlign: 'end', width: '110px'},
                    },
                    {
                        name: 'Uniq Receivers', cell: row => row.receivers,
                        rendering: renderNumbers, headerStyle: {textAlign: 'end', width: '121px'},
                    },
                    {
                        name: 'Count', cell: row => row.count,
                        rendering: renderNumbers, headerStyle: {textAlign: 'end'},
                    },
                    {
                        name: 'Amount', cell: row => row.sum_amount,
                        rendering: renderNumbersWithCurrency, headerStyle: {textAlign: 'end'},
                    },
                    {
                        name: 'Days token transferred', cell: row => row.count_days
                        , rendering: renderNumbers, headerStyle: {textAlign: 'end', width: '181px'},
                    },
                ]
            }
        }
    }

    const variables = {
        network: '<%= @streaming%>',
        till: new Date().toISOString().slice(0, 10),
        from: (new Date((new Date()).setDate((new Date()).getDate() - 1))).toISOString().slice(0, 10)
    }

    renderWithTime(variables, <%= limited_date_range_limit(@from, @till).join(',').html_safe %>, function f(variables) {
        renderComponent('<%=@streaming_access_token %>', [[TransfersByCurrencies, '#TransfersByCurrencies']], 'Transfers-By-Currencies_10', variables);
    })
</script>
