<div class="row">
  <div class="col-12 col-lg-12 mb-4">
    <div id="TransfersByCurrencies" class="card"></div>
  </div>
</div>
<div class="row">
  <div class="col-12 col-lg-12 mb-4">
    <div id="SubTransfersByCurrencies" class="card"></div>
  </div>
</div>
<script>
    class TransfersByCurrencies extends BootstrapTableComponent {
        configuration() {
            return {
                topElement: function (response) {
                    return response.EVM.Transfers
                },
                chainId: function (response) {
                    return response.EVM.Transfers[0].ChainId
                },
                columns: [
                    {
                        name: 'Timestamp', cell: function (row) {
                            return row.Block.Time
                        }, rendering: renderDate,
                    },
                    {
                        name: 'Currency', cell: function (row) {
                            return {
                                currency: row.Transfer.Currency.Symbol,
                                smartContract: row.Transfer.Currency.SmartContract
                            }
                        }, rendering: renderTokenLink,
                    },
                    {
                        name: 'First transfer date', cell: function (row) {
                            return row.Block.first_date
                        },
                    },
                    {
                        name: 'Last transfer date', cell: function (row) {
                            return row.Block.last_date
                        },
                    },
                    {
                        name: 'Days token transferred', cell: function (row) {
                            return row.count_days
                        }, rendering: renderNumbers,
                    },
                    {
                        name: 'Uniq Senders', cell: function (row) {
                            return row.senders
                        }, rendering: renderNumbers
                    },
                    {
                        name: 'Uniq Receivers', cell: function (row) {
                            return row.receivers
                        }, rendering: renderNumbers
                    },
                    {
                        name: 'Transferred Amount', cell: function (row) {
                            return row.sum_amount
                        }, rendering: renderNumbers
                    },
                    {
                        name: 'Transfer Count', cell: function (row) {
                            return row.count
                        }, rendering: renderNumbers
                    },
                ]
            }
        }
    }

    class SubTransfersByCurrencies extends BootstrapTableComponent {
        configuration() {
            return {
                topElement: function (response) {
                    return response.EVM.Transfers
                },
                chainId: function (response) {
                    return response.EVM.Transfers[0].ChainId
                },
                columns: [
                    {
                        name: 'Timestamp', cell: function (row) {
                            return row.Block.Time
                        }, rendering: renderDate,
                    },
                    {
                        name: 'Currency', cell: function (row) {
                            return {
                                currency: row.Transfer.Currency.Symbol,
                                smartContract: row.Transfer.Currency.SmartContract
                            }
                        }, rendering: renderTokenLink,
                    },
                    {
                        name: 'Transferred Amount', cell: function (row) {
                            return row.sum_amount
                        }, rendering: renderNumbers
                    },
                    {
                        name: 'Uniq Senders', cell: function (row) {
                            return row.senders
                        }, rendering: renderNumbers
                    },
                    {
                        name: 'Uniq Receivers', cell: function (row) {
                            return row.receivers
                        }, rendering: renderNumbers
                    },
                    {
                        name: 'Transfer Count', cell: function (row) {
                            return row.count
                        }, rendering: renderNumbers
                    },
                ]
            }
        }
    }

    const variables = {
        network: '<%= @streaming%>',
        offset: 0,
    }

    renderWithTime(variables, <%= limited_date_range_limit(@from, @till).join(',').html_safe %>, function f(variables) {
        renderComponent(TransfersByCurrencies, "#TransfersByCurrencies", 'Transfers-By-Currencies_1_1', variables);
    })
    renderComponent(SubTransfersByCurrencies, "#SubTransfersByCurrencies", 'Transfers-By-Currencies_1_1', variables, 'Subscription-Transfers-By-Currencies');
</script>
