<div class='row'>
  <div class='col-12 col-lg-12 mb-4'>
    <div id='LatestTransfers' class='card'></div>
  </div>
</div>

<script>
    class LatestTransfers extends BootstrapTableComponent {
        configuration() {
            return {
                topElement: response => response.EVM.Transfers,
                chainId: response => response.EVM.Transfers[0]?.ChainId,
                columns: [
                    {
                        name: 'Timestamp', cell: row =>row.Block.Time,
                        rendering: renderDate,
                    },
                    {
                        name: 'Block', cell: row =>row.Block.Number,
                        rendering: renderBlockLink,headerStyle: {width: '100px'},
                    },
                    {
                        name: 'Sender', cell: row =>row.Transfer.Receiver,
                        rendering: renderJustAddressLink,
                    },
                    {
                        name: '', cell: row =>'', rendering: renderSenderRecieverIcon, headerStyle: {width: '50px'},
                    },
                    {
                        name: 'Receiver', cell: row =>row.Transfer.Sender,
                        rendering: renderJustAddressLink,
                    },
                    {
                        name: 'Amount', cell: row =>row.Transfer.Amount,
                        rendering: renderNumbers, headerStyle: {textAlign: 'end',width: '100px'},
                    },
                    {
                        name: 'Currency', cell: row =>({
                                currency: row.Transfer.Currency.Symbol,
                                smartContract: row.Transfer.Currency.SmartContract
                            }),
                        rendering: renderTokenLink,headerStyle: {width: '100px'},
                    },
                    {
                        name: 'Id', cell: row =>({id: row.Transfer.Id, address: row.Transfer.Currency.SmartContract}),
                        rendering: renderIdLink,headerStyle: {width: '70px'},
                    },
                    {
                        name: 'Hash', cell: row =>row.Transaction.Hash,
                        rendering: renderTX,headerStyle: {width: '100px'},
                    },
                ]
            }
        }
    }

    const variables = {
        network: '<%= @streaming%>',
    }

    renderWithTime(variables, <%= limited_date_range_limit(@from, @till).join(',').html_safe %>, function f(variables) {
        renderComponent('<%=@streaming_access_token %>',[[LatestTransfers, '#LatestTransfers']], 'Latest-Transfers_5', variables, 'Subscription-Latest-Transfers_2');
    });
</script>
