<%= extend_layout :application, view_flow do %>
  <%= render partial: 'header' rescue render partial: "shared/header/#{controller_name}" %>
  <%#= render partial: 'header' %>
  <%= render partial: 'tabs' %>
  <div><%= yield %></div>
<% end %>
