<%= extend_layout :application do %>
  <% content_for :title, t( "tabs.address.#{params[:action]}.title", network: @network[:tag], address: @address) %>
  <% content_for :description, t( "tabs.address.#{params[:action]}.description", network: @network[:name], address: @address) %>
  <%= render partial: 'shared/title', locals: {
          header: t( "tabs.address.#{params[:action]}.header", network: @network[:name], address: copy_text(@address, 'text-info')).html_safe,
          reportrange: true} %>
  <%= render partial: 'tabs' %>
  <div><%= yield %></div>
<% end %>